h2 {
	font-size: 24px;
	color: #656565;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	font-weight:lighter;
}
.mrng-60-top {
	margin-top: 60px;
}
/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 40px 15px;
	color: #e60012;
	font-size:18px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	/*border-radius: 0;*/
	/*text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);*/
	font-weight:normal;
	/*-webkit-transition: all 1s ease;*/
	/*-moz-transition: all 1s ease;*/
	/*-o-transition: all 1s ease;*/
	/*transition: all 1s ease;*/
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	/*-webkit-transition: all 0.75s ease 0s;*/
	/*-moz-transition: all 0.75s ease 0s;*/
	/*-o-transition: all 0.75s ease 0s;*/
	/*transition: all 0.75s ease 0s;*/
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
	border: none;
	padding: 42px 15px;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 40px 15px;
	color: #303030;
	font-size:18px;
	font-family: normal;
	border-radius: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	/*text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);*/
	/*font-weight:lighter;*/
	/*-webkit-transition: all 0.5s ease;*/
	/*-moz-transition: all 0.5s ease;*/
	/*-o-transition: all 0.5s ease;*/
	/*transition: all 0.5s ease;*/
}

a.animated-button.victoria-three {
	border: 2px solid #a9a9a9;
	border-radius: 4px;
}
a.animated-button.victoria-three:after {
	background: #e60012;
	opacity: .5;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
	height: 140%;
	opacity: 1;
}
