/*移动端样式开始*/
@media screen and (max-width: 1024px) {
	header{
		display: none !important;
	}
	.phone-tab{
		display: block !important;
		width: 100%;
		height: 49px;
		box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);
		background-color:#fff;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 900;
	}
	.menu-icon{
		width: 22px;
		height: 18px；
		background-color: black;
		margin-left: 12px;
		margin-top: 16px;
	}
	.menu-icon li{
		width: 22px;
		height: 3px;
		background-color: #2278c7;
		margin-bottom: 4px;
		border-radius: 2px;
	}
	.menu-icon li:first-child{
		width: 20px;
		height: 3px;
		background-color: #2278c7;
		margin-bottom: 4px;
		border-radius: 2px;
	}
	.menu-icon li:last-child{
		width: 16px;
		height: 3px;
		background-color: #2278c7;
		margin-bottom: 4px;
		border-radius: 2px;
	}
	.menu {  
	    position: fixed;  
	    left: 0;  
	    top: 0;  
	    width: 100%;  
	    height: 100%;  
	    overflow: hidden;  
	    pointer-events: none;  
	    z-index: 905;
	}  
	.menu--visible {  
	    pointer-events: auto;  
	}  
	.app-menu {    
	    /*color: #fff;  */
	    position: relative;  
	    /*max-width: 400px;*/  
	    width: 45%;  
	    height: 100%;  
	    padding-top: 2%;
	    background-color: #171a1f;  
	    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);  
	    -webkit-transform: translateX(-103%);  
	            transform: translateX(-103%);  
	    display: flex;  
	    flex-direction: column;  
	    will-change: transform;  
	    z-index: 904;  
	    pointer-events: auto;  
	    transition: all 0.5s ease-in;  
	    transition: all 0.4s ease-out;              
	}
	.app-menu div{
		width: 100%;
		height: 44px;
		color: #fff;
		padding-left: 16%;
		line-height: 44px;
		font-size: 16px;
	}
	.app-menu div:hover{
		background-color: rgba(0,0,0,0.2);
	}
	.menu--visible .app-menu {  
	    -webkit-transform: none;  
	            transform: none;  
	}  
	.menu:after {  
	    content: '';  
	    display: block;  
	    position: absolute;  
	    left: 0;  
	    top: 0;  
	    width: 100%;  
	    height: 100%;  
	    background: rgba(0,0,0,0.6);  
	    opacity: 0;  
	    will-change: opacity;  
	    pointer-events: none;  
	    transition: opacity 0.5s cubic-bezier(0,0,0.3,1);  
	}  
	.menu--visible.menu:after {  
	    opacity: 1;  
	    pointer-events: auto;  
	}
	.phone-tab-logo{
		width: 56px;
		height: 25px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin:auto;
	}
	.ly_xbanner{
		margin-top: 49px !important;
	}
	.ly_box-ewm{
		float: left !important;
	}
	footer{
		margin-top: 30px !important;
	}
	.ly_box-ewm{
		margin-left: 4%
	}
	/*——————分割线——————*/
	.ly_newslb-kp{border:3px solid #e9e9e9 !important;}
	.ly_newslb-time h1{font-size: 40px !important;}
	.ly_newslb-time h2{font-size: 18px !important;}
	.ly_newslb-time h3{font-size: 18px !important;}
	.ly_news-img{display: none;}.ly_news-pv{display: none;}
	.ly_newslb-time{width: 20% !important;border-right: 1px solid #e9e9e9;margin: 2% 0 !important;}
	.ly_newslb-wz{width: 78% !important;padding: 2% !important;}
	.ly_newslb-more{margin-top: 6% !important;width: 80% !important;}
	.ly_newslb-wz h3{-webkit-line-clamp: 2 !important;}
}
/*移动端样式结束*/
/*pc端头部开始*/
.phone-tab{
	display: none;
}
header{
	width: 100%;
	height: 80px;
	background-color:#fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 900;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);
}
.ly_tab-neikuan{
	max-width: 1224px;
	height: 100%;
	padding: 0 12px;
	/*background-color: #f6f6f6;*/
	margin: 0 auto;
	position: relative;
}
.ly_logo{
	width: 112px;
	height: 50px;
	background-image: url(../img/elvshilogo.png);
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
}
.ly_tab-tiaozhuan{
	width: 10%;
	height: 80px;
	font-size: 20px;
	float:right;
	text-align: center;
	line-height: 80px;
	/*font-weight:lighter;*/
	overflow:hidden;
	color: #2278c7;
}
.ly_tab-tiaozhuan:hover{
	background-color:#2278c7;
	color: #fff;
	background-image: url(../img/Background.png);
	transform: translateY(10px);
	transition: all 0.2s linear;
}
/*pc端头部结束*/
/*小banner开始*/
.ly_xbanner{
	width: 100%;
	height: 150px;
	background-color: #000;
	margin-top: 80px;
	background-image: url(../img/xbanner-news.png);
	background-position: center;
}
.ly_xbanner-nk{
	max-width: 1224px;
	height: 100%;
	padding: 0 12px;
	/*background-color: #f6f6f6;*/
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.ly_xbanner-t{
	width: 120px;
	height: 60px;
	margin-top: 40px;
	color: #fff;
	float: left;
}
.ly_xbanner-t h1{
	font-weight: lighter;
}
.ly_xbanner-t h3{
	font-weight: lighter;
}
.ly_xbanner-zs{
	width: 50px;
	height: 46px;
	overflow: hidden;
	position: relative;
	float: left;
	margin-top: 20px;
}
.ly_xbanner-zs .big{
	width: 16px;
	height: 16px;
	background-color: #fff;
	margin-top: 10px;
	float: left;
}
.ly_xbanner-zs .middle{
	width: 10px;
	height: 10px;
	background-color: #fff;
	float: left;
	margin-left: 17px;
}
.ly_xbanner-zs .small{
	width: 14px;
	height: 14px;
	background-color: #fff;
	float: left;
	position: absolute;
	bottom: 0;
	right: 0;
}
/*小banner结束*/
/*面包屑开始*/
.ly_mbx{
	width: 100%;
	height: 50px;
	background-color: #e9e9e9;
}
.ly_mbx-nk{
	max-width: 1224px;
	height: 100%;
	padding: 0 12px;
	margin:0 auto;
}
.ly_mbx-nk span{
	padding: 0 12px;
	border-radius:20px;
	height: 30px;
	background-color: #fff;
	margin-right: 6px;
	margin-top: 10px;
	float: left;
	color: #2278c7;
	line-height: 30px;
}
.ly_mbx-nk i{
	width: 6px;
	height: 14px;
	background-image: url(../img/icon-r.png);
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	float: left;
	margin-top: 18px;
	margin-right: 6px;
	color: #2278c7;
}
/*面包屑结束*/
/*新闻列表开始*/
.ly_newslb-nk{
	max-width: 1224px;
	height: 100%;
	padding: 0 12px;
	margin:0 auto;
}
.ly_newslb-kp{
	max-width: 1024px;
	height: auto;
	margin: 0 auto;
	border:4px solid #e9e9e9;
	margin-top: 20px;
	border-radius: 4px;
	overflow: hidden;
}
.ly_newslb-kp:hover{
	border:4px solid #2278c7;
}
.ly_newslb-time{
	width: 127px;
	height: auto;
	margin-top: 1%;
	padding-left: 3%;
	float: left;
}
.ly_newslb-time h1{
	color: #2371b9;
	font-size: 60px;
}
.ly_newslb-time h2{
	color: #2371b9;
	font-size: 20px;
}
.ly_newslb-time h3{
	color: #818181;
	font-size: 20px;
}
.ly_news-img{
	width: 200px;
	height: auto;
	float: left;
	overflow: hidden;
	border-radius: 4px;
	margin: 1% 0;
}
.ly_newslb-wz{
	width: 50%;
	/*height: 150px;*/
	float: left;
	overflow: hidden;
	margin-top: 1%;
	margin-left: 2%;
}
.ly_newslb-wz h2{
	color: #2371b9;
	font-size: 18px;
    overflow: hidden;
   /* white-space: nowrap;
    text-overflow: ellipsis;*/
}
.ly_newslb-wz h3{
	color: #818181;
	font-size: 14px;
	margin-top: 1%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  	-webkit-line-clamp: 4;
  	-webkit-box-orient: vertical;
  	line-height: 28px;
}
.ly_news-pv{
	height: 172px;
	float: left;
	margin-left: 5%;
}
.ly_news-pv i{
	width: 47px;
	height: 29px;
	background-image: url(../img/icon-pv.png);
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	margin-top: 60px;
	display: block;
}
.ly_news-pv p{
	color: #818181;
	font-size: 18px;
	text-align: center;
	margin-top: 4px;
}
.ly_newslb-more{
	width: 140px;
	height: 40px;
	border-radius: 4px;
	background-color: #2278c7;
	margin:0 auto;
	margin-top: 2%;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
}
.ly_newslb-more:hover{
	background-color: #165895;
}
/*新闻列表结束*/
/*底部开始*/
footer{
	width: 100%;
	margin-top: 50px;
	height: auto;
	/*height: 282px;*/
	background-color: #171a1f;
}
.ly_dibu-nk{
	max-width: 1224px;
	padding: 0 12px;
	margin: 0 auto;
	overflow: hidden;
}
.ly_dibu-lxwm{
	float: left;
	margin-top: 40px;
	margin-left: 4%;
}
.ly_dibu-lxwm h1{
	color: #fff;
	font-size: 18px;
}
.ly_dibu-lxwm ul{
	width: 240px;
	margin-top: 12px;
	font-weight:lighter;
}
.ly_dibu-lxwm ul li{
	font-weight:lighter;
	color: #fff;
}
.icon-dianhua{
	width: 23px;
	height: 23px;
	background-image: url(../img/icon-dianhua.png);
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	float: left;
	margin-top: -2px;
	margin-right: 10px;
}
.icon-dizhi{
	width: 23px;
	height: 23px;
	background-image: url(../img/icon-dizhi.png);
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	float: left;
	margin-top: -2px;
	margin-right: 10px;
}
.ly_box-ewm{
	width: 120px;
    height: 140px;
    margin-top: 40px;
    float: right;
    margin-bottom: 40px;
    margin-right: 2%;
}
.ly_box-ewm i{
	width: 120px;
    height: 120px;
    display: block;
}
.ly_box-ewm p{
	margin-top: 4px;
	color: #fff;
	text-align: center;
}
/*底部结束