.login_body{
	background-color: #8c0a11;
	background-image: url(img/bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: cover;
}
.loginbox > .start{
	background-color: transparent;
	position: absolute;
	right: 40px;
	bottom: 40px;
	z-index: 10;
	width: 67px;
	height: 65px;
	background-image: url(img/fireworks.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	animation: wobble 2s linear infinite alternate;
	transform:rotate(0deg);
}
.loginbox > .start:hover::after{
	content: '送福喽！';
	position: absolute;
	bottom: 20px;
	left: 10px;
	color: #fff;
	background-color: #ff3e3e;
	border-radius: 40px;
	padding: 4px 8px;
	border: 2px solid #e4bc6c;
	font-size: 12px;
}
.loginbox > .start:focus{
	outline: none;
}
.loginbox > .start:disabled{
	display: none;
}
@keyframes wobble{
	0% {
		transform:rotate(0deg);
		transform-origin:0% 100%;
	}
	12.5% {
		transform:rotate(14deg);
	}
	25% {
		transform:rotate(0deg);
		transform-origin:0% 100%;
	}
	37.5% {
		transform:rotate(14deg);
	}
	50% {
		transform:rotate(0deg);
		transform-origin:0% 100%;
	}
	100% {
		transform:rotate(0deg);
		transform-origin:0% 100%;
	}
}

.login_body > .loginbox{
	background-image: url(img/s_title.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 760px auto;
	/*transition: all 0.2s ease-out;*/
	
}
.loginbox{
	perspective:1000px;
}
.loginbox > .lucky{
	position: absolute;
    top: 40px;
    left: 40px;
    border-radius: 10px;
    width: 720px;
    height: 340px;
	background-image: url(img/demp.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
	transform: rotateX(180deg);
	z-index: -1;
}
.loginbox > .login_text,
.loginbox > .login_input{
	transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
	background-color: #fff;
	border-radius: 0;
	padding-bottom: 30px;
	transform-style: preserve-3d;
}
.loginbox > .login_text{
	border-radius: 10px 0 0 10px;
}
.loginbox > .login_input{
	border-radius: 0 10px 10px 0;
}
.loginbox.lucky-show > .login_text,
.loginbox.lucky-show > .login_input{
	transform: rotateX(180deg);
	padding-top: 30px;
	padding-bottom: 0px;
	opacity: 0;
}
.loginbox.lucky-show > .lucky{
	transform: rotateX(360deg);
	z-index: 1;
}

.login_body > .img-left{
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(img/left.png);
	background-repeat: no-repeat;
	background-size: 28% auto;
	width: 100%;
	height: 100%;
}
.login_body > .img-right{
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(img/right.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 34% auto;
	width: 100%;
	height: 100%;
}
.login_body > .img-bottom{
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(img/bottom.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% auto;
	width: 100%;
	height: 100%;
}
.login_body > .img-top{
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	margin: auto;
	background-image: url(img/title.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 18% auto;
	width: 100%;
	height: 100%;
}