.ie8_icon{
	display: block;
}
#home_nav2_switch p{
	display: none;
}
#home_nav2_switch img{
	display: block !important;
	width: 10px;
	height: 10px;
	margin-top: -20px;
	margin-left: -2px;
}
.new_view,.new_view2{
	background-color: #767676;
}
.new_view2_body{
	width: 510px;
	margin: 0 auto;
}


/*导航栏icon*/
.normal{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	margin-left: 2px;
}
.on{
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	margin-left: 2px;
}
.home_btn_on .on{
	display: block;
}
.home_btn_on .normal{
	display: none;
}

.breadcrumb{
	margin-top: -20px;
}
.fixed_top > .breadcrumb{
	margin-top:0;
}

.page_find .input-group{
	margin: -14px 0px;
}




#loading{
	display: none;
}


.flow_line li{
	line-height: 40px !important;
}
.flow_line_now{
	padding: 0 10px !important;
	margin: 0 10px;
}
.flow_line span{
	float: left;
	display: block;
	line-height: 38px;
	font-size: 20px;
}


select{
	padding: 8px 4px;
	height: auto;
}


.page_find .input-group{
	vertical-align: -0px;
}

.ie8_hide{
	display: none;
}
.todown > .all_box > input[type='text']{
	margin-bottom: -12px;
}

.tab{
	margin-top: 0;
}


.not_mode_cue .btn{
	background-image: none;
	text-decoration: none;
}
.not_mode_cue .btn > span{
	display: block;
	color: #3a3a3a;
	line-height: 30px;
	font-size: 40px;
	text-decoration: none;
}


.home_nav{
	overflow-y: hidden;
}
/*滚动条样式修改 - ie */
.home_nav2 ul li{
    /*三角箭头的颜色*/
    scrollbar-arrow-color: #1f7cba;
    /*滚动条滑块按钮的颜色*/
    scrollbar-face-color: #1f7cba;
    /*滚动条整体颜色*/
    scrollbar-highlight-color: #1f7cba;
    /*滚动条阴影*/
    scrollbar-shadow-color: #1f7cba;
    /*滚动条轨道颜色*/
    scrollbar-track-color: #1f7cba;
}
