*{
	font-weight: 300;
}
/*#main_logo img{
	filter: brightness(80%);
}*/

.home_nav2 .home_btn_on{
	color: #1F7CBA !important;
}


/*顶部状态栏颜色*/
.navbar-default{
	background-color: #29A9FF;
	border-color: #e7e7e7;
}

/*顶部状态栏focus效果*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: #1F7CBA;
	color: #fff;
}


.news_badge{
	background-color: #3B9BDB;
}





/*一级菜单开关颜色*/
.home_nav_flex{
	background-color: #3B9BDB;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

/*当前选中栏目颜色*/
.home_btn_on{
	background-color: #1f7cba !important;
	/*color: #3B9BDB !important;*/
	font-weight: 400;
}



/*一级菜单背景色*/
.home_nav{
	background-color: #3B9BDB;
}
#view{
	background-color: #3B9BDB;
}

/*一级菜单栏目悬停色*/
.btn1_hover:hover{
	background-color: #45ADF2;
	color: #fff;
}

/*二级菜单背景色*/
.home_nav2{
	background-color: #1F7CBA;
}
.home_nav2 ul li button{
	background-color: #1F7CBA;
}

/*二级菜单栏目悬停色*/
.home_nav2 ul li button:hover,.home_nav2 ul li button:focus{
	background-color: #1970A9;
	color: #fff;
}

