.login_body > .mp4,
.login_body > .fireworks,
.loginbox > .start{
	display: none;
}
.login_body > .img-top{
	width: 220.5px;
	height: 226px;
	background-image:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/title.png',  sizingMethod='scale');
}