.login_body{
	background-color: #8c0a11;
	background-image: url(img/bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.loginbox > .start{
	background-color: transparent;
	position: absolute;
	right: -60px;
	bottom: 10px;
	z-index: 10;
	width: 40px;
	height: 80px;
	background-image: url(img/fireworks.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	animation: wobble 2s linear infinite alternate;
	transform:rotate(0deg);
}
.loginbox > .start:hover::after{
	content: '有声音哦';
	position: absolute;
	bottom: 20px;
	left: 10px;
	color: #fff;
	background-color: #ff3e3e;
	border-radius: 40px;
	padding: 4px 8px;
	border: 2px solid #e4bc6c;
	font-size: 12px;
	background-image: url(img/icon_audio.png);
	background-size: 14px 14px;
	background-repeat: no-repeat;
	background-position: 14% center;
	padding-left: 28px;
}
.loginbox > .start:focus{
	outline: none;
}
.loginbox > .start:disabled{
	opacity: 0.2;
}
@keyframes wobble{
	0% {
		transform:rotate(0deg);
		transform-origin:0% 100%;
	}
	12.5% {
		transform:rotate(14deg);
	}
	25% {
		transform:rotate(0deg);
		transform-origin:0% 100%;
	}
	37.5% {
		transform:rotate(14deg);
	}
	50% {
		transform:rotate(0deg);
		transform-origin:0% 100%;
	}
	100% {
		transform:rotate(0deg);
		transform-origin:0% 100%;
	}
}

.login_body > .loginbox{
	background-image: url(img/s_title.png);
	background-repeat: no-repeat;
	background-position: 98% 94%;
}
.login_body > .img-left{
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(img/left.png);
	background-repeat: no-repeat;
	background-size: 30% auto;
	width: 100%;
	height: 100%;
}
.login_body > .img-right{
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(img/right.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 20% auto;
	width: 100%;
	height: 100%;
}
.login_body > .img-bottom{
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(img/bottom.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% auto;
	width: 100%;
	height: 100%;
}
.login_body > .img-top{
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	margin: auto;
	background-image: url(img/title.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 14% auto;
	width: 100%;
	height: 100%;
}
.login_body > .fireworks{
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(img/fireworks.gif);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	transition: opacity 1s ease;
}
.login_body > .mp4{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: opacity 1s ease;
}
.login_body > .mp4.show{
	opacity: 1;
}