html, body, h1, h2, h3, h4, h5, h6, p, textarea, input, select, ul, ol, li, fieldset, figure {
  margin: 0;
  padding: 0;
  border: none; }

ul, li {
  list-style: none; }
img{
  width: 100%;
}
html,
body {
  height: 100%; 
  /*background-color: #f9f9f9;*/
}
*{
   box-sizing: border-box;
}
body.static {
  overflow: hidden;
  position: relative; }

body,
textarea,
input,
select {
  font-size: 14px;
  color: #222222;
  line-height: 1.75;
  font-weight: normal;
  font-family: 'Helvetica', 'Lato', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none; }

a {
  color: #232323;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  a img {
    border: none;
  }
@font-face {
  font-family: 'DINMittelschrift-Alternate';
  /*字体名称*/
  src: url('./DINMittelschrift-Alternate.otf');
  /*字体源文件*/
}
@font-face {
  font-family: '汉仪雪君体简';
  /*字体名称*/
  src: url('汉仪雪君体简.TTF');
  /*字体源文件*/
}



.shell{
  max-width: 1200px;
  margin: 0 auto;
}


header{
  position: fixed;
  top: 0;
  z-index: 800;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  background: linear-gradient(to top,rgba(0,0,0,0),rgba(0,0,0,0.3));
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.all_header{
  background: #fff;
}
.all_header .top_logo{
  background-image: url(../img/logo_2.png);
}

.all_header{
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  background: rgba(255,255,255,0.98);
  /*border-bottom: 1px solid rgba(0,0,0,0.01);*/
}
.all_header .menu > li > a{
  color: #372d23;
}
.all_header .menu > li > a:hover{
  border-bottom: 4px solid rgb(37, 132, 240);
}
.all_header .tab_now{
  border-bottom: 4px solid rgb(37, 132, 240);
}


.pro_header{
  background: #fff;
}
.top_logo{
  display: block;
  width: 257px;
  height: 68px;
  background-image: url(../img/logo_1.png);
  background-repeat:no-repeat; 
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.nav_solid .top_logo{
  background-image: url(../img/logo_2.png);
}
.pro_header .top_logo{
  background-image: url(../img/logo_2.png);
}
.pro_header .menu > li > a{
  color: #372d23;
}
.pro_header .menu > li > a:hover{
  border-bottom: 4px solid rgb(37, 132, 240);
}
.pro_header .tab_now{
  border-bottom: 4px solid rgb(37, 132, 240);
}

.nav_top{
  background-color: rgba(0,0,0,0.6);
}
.nav_top .menu{
  display: block;
}
.nav_solid{
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  background: rgba(255,255,255,0.98);
  /*border-bottom: 1px solid rgba(0,0,0,0.01);*/
}

.nav_solid .menu > li > a{
  color: #372d23;
}
.nav_solid svg{
  fill: #fcad43;
}


.logo_shell {
  width: 257px;
  height: 100px;
  display: inline-block;
  font-size: 20px;
  color: #fff;
  padding-top: 15px;
  /*border: 1px solid #fff;*/
}


.nav_solid .logo_text,
.nav_solid .logo_text2{
  color: #372d23;
}

 



.wrap_header{
  width: 1200px;
  margin: 0 auto;
}

.menu{
  float: right;
}
.menu > li{
  display: inline-block;
  height: 100px;
  padding: 0 6px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: relative;
  /*border: 1px solid #d9d9d9;*/
}
.menu > li:hover .hover_menu{
  display: block;
}
.menu .hover_menu{
  display: none;
  background-color: #fff;
  border-radius: 4px;
  float: right;
  font-size: 16px;
  /*min-width: 180px;*/
  position: absolute;
  left: 0;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.menu .hover_menu:after{
  content: '';
  position: absolute;
  top: -20px;
  width: 100px;
  height: 20px;
  left: 20px;
  background-image: url(../img/icon_toparrow.png);
  background-repeat:no-repeat; 
  background-size:100% 100%;
}
.menu .hover_menu > a{
  display: block;
  color: #6E6E6E;
  padding: 10px 20px;
  width: 100%;
  border-radius: 4px;
  white-space:nowrap;
  text-align: center;
}
.menu .hover_menu > a:hover{
  color: #2480EF;
  background-color: #F5F5F5;
}


@media screen and (max-width: 768px) {
  .menu > li:hover .hover_menu{
    display: none;
  }
  
}



.menu > li > a{
  transition: none;
  color: #fff;
  font-size: 16px;
  width: 100%;
  height: 100px;
  display: block;
  line-height: 100px;
  padding: 0 14px;
  font-weight: bold;
}
.menu > li > a:hover{
  border-bottom: 4px solid #fff;
}

.nav_solid .menu > li > a:hover{
  border-bottom: 4px solid #2584F0;
}
.menu > .language{
  margin: 34px 0;
  border-radius: 4px;
  padding: 2px 6px;
  background-color: rgba(0,0,0,0.5);
  float: right;
  color:#fff;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  cursor: pointer;
  position: relative;
  padding-left: 32px;
  margin-left: 40px;
}
.menu > .language:hover{
  background-color: rgba(0,0,0,0.7);
}
.language::before{
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(../img/icon_lan.png);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 8px;
  bottom: 0;
  margin: auto;
}

.language_interface{
  position: fixed;
  top: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  padding-top: 160px;
  display: none;
}
.language_interface > li{
  color: #fff;
  background-color: #fcad43;
  margin: 20px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  width: 200px;
  margin: 20px auto;
  height: 50px;
  line-height: 50px;
}
.language_interface > li:hover{
  background-color: #D88A22;
}





.product > li{
  /*width: 100%;*/
  border: 1px solid #ededed;
  margin-top: 40px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  border-radius: 4px;
}
.product > li > img{
  width: 40%;
  display: block;
  float: left;
  padding: 20px;
  border-radius: 24px;
}
.product > li > div{
  padding: 40px 40px 40px 20px;
  max-width: 60%;
  float: right;
}
.product > li > div > p{
  margin-bottom: 10px;
}
.product > li > div > img{
  width: 60px;
  height: 60px;
 border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .product > li > img{
    width: 100%;
  }
  .product > li > div{
    max-width: 100%;
    padding: 0 20px 20px 20px;
  }
}





.phone_menu_btn{
  display: none;
}
/*@media screen and (max-width: 768px){
  .phone_menu_btn{
    position: absolute;
    top: 13px;
    right: 20px;
    display: block;
    width: 34px;
    height: 34px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 4px;
  }
  .menu{
    margin-left: 0;
    display: none;
    float: none;
  }
  .menu li{
    padding: 0;
    display: block;
    border-top: 1px solid rgba(0,0,0,0.1);
  }
  .menu li a{
    padding: 0;
  }
  .phone_menu_btn li{
    width: 60%;
    height: 2px;
    background-color: #fff;
    margin: 7px auto;
    border-radius: 2px;
  }
}*/

.tab_now{
  border-bottom: 4px solid #fff;
}
.nav_solid .tab_now{
  border-bottom: 4px solid #2584F0;
}
/*@media screen and (max-width: 768px) {
  .tab_now{
    background-color: transparent;
  }
}*/


.btn{
  display: inline-block;
  height: 40px;
  border: 2px solid #fcad43;
  line-height: 36px;
  padding: 0 12px;
  color: #fcad43;
  font-size: 14px;
  border-radius: 4px;
}
.btn:hover{
  background-color: #fcad43;
  color: #fff;
}



.home_news{
  max-width: 1240px;
  margin: 20px auto;
  overflow: hidden;
}
.home_news > li{
  width: 25%;
  height: 200px;
  /*background-color: #ededed;*/
  padding: 20px;
  float: left;
}

.home_news > li > a{
  display: block;
  height: 100%;
  /*background-color: rgba(0,0,0,0.8);*/
  padding: 20px;
  border-radius: 4px;
  background-repeat:no-repeat; 
  background-size:200% auto;
  -moz-background-size:200% auto;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.home_news > li > a > img{
  margin: -40px;
  position: absolute;
  width: 120%;
  height: 130%;
  border-radius: 4px;
  filter: blur(6px);
}
.home_news > li > a:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  /*background-color: #000;*/
}
.home_news > li > a > *{
  color: #fff;
  text-shadow: 0 0 20px rgba(0,0,0,0.2);

}
.home_news > li > a > h3{
  width: 100%;
  padding-right: 40px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  z-index: 2;
  position: absolute;
  /*background-color: blue;*/
}
.home_news > li > a > span{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  z-index: 2;
  position: absolute;
  top: 46px;
  /*right: 20px;*/
}
.home_news > li > a > p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 70px;
  padding-right: 20px;
  text-align: justify;
  text-justify: inter-ideograph;
}
.home_news > li > a > i{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  display: block;
  top: 0;
  left: 0;
  border-radius: 4px;
  z-index: 1;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.home_news > li > a:hover i{
  background-color: rgba(0,0,0,0.4);
}



.home_news > h2{
  margin: 0 20px;
  padding: 0 0 0 28px;
  position: relative;
  margin-top: 10px;
  font-size: 20px;
  font-weight: normal;
  color: #372d23;
  /*border: 1px solid blue;*/
}
.home_news > h2::before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon_news.png);
  background-repeat:no-repeat; 
  background-size:100% 100%;
  -moz-background-size:100% 100%;
}
.home_news > h2 > a{
  float: right;
  font-size: 14px;
  border: 1px solid #fcad43;
  height: 28px;
  padding: 0 18px 0 10px;
  border-radius: 90px;
  line-height: 26px;
  color: #fcad43;
  margin-top: 4px;
  position: relative;
}
.home_news > h2 > a:hover{
  background-color: #fcad43;
  color: #fff;
}
.home_news > h2 > a::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 8px;
  margin: auto;
  width: 5px;
  height: 10px;
  background-image: url(../img/icon_left.png);
  background-repeat:no-repeat; 
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  opacity: 0.5;
}

/*@media screen and (max-width: 1024px) {
  .home_news > li{
    width: 50%;
  }
}
@media screen and (max-width: 768px){
  .home_news > li{
    width: 100%;
    padding-bottom: 0;
  }
}*/

.about_text{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
}
.about_text > h1{
  margin-top: 60px;
  color: #3a3a3a;
  border-bottom: 2px solid #ededed;
  margin-bottom: -66px;
}
.about_text > p{
  font-size: 18px;
  color: #515151;
  margin-left: 100px;
  margin-top: 10px;
  padding: 20px;
  background-color: #ededed;
  border-radius: 4px;
}

.about_text_2{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
}
.about_text_2 > h1{
  margin-top: 60px;
  color: #3a3a3a;
  border-bottom: 1px solid #ededed;
}
.about_text_2 > p{
  font-size: 18px;
  color: #515151;
  margin-left: 20%;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .about_text_2 > p{
    margin-left: 0;
  }
}

header .menu > li:nth-child(2) > ul > a{
  position: relative;
  padding-left: 46px;
}
header .menu > li:nth-child(2) > ul > a:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  margin: auto;
  background-image: url(../img/logo_cashbus.png);
  background-repeat:no-repeat; 
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  width: 20px;
  height: 20px;
  border: 1px solid #fcad43;
  border-radius: 4px;
}


footer{
  padding-top: 40px;
  width: 100%;
  min-width: 1200px;
  color: #999999;
  font-size: 14px;
  background-color: #333333;
  /*margin-top: 40px;*/
}

footer > .wrap:first-child{
  overflow: hidden;
  padding-bottom: 30px;
}
footer > .wrap > .info{
  float: right;
  max-width: 500px;
  /*background-color: blue;*/
}
footer > .wrap > .info > h2{
  margin-bottom: 20px;
}
footer > .wrap > .info > h2 > a{
  font-size: 18px;
  color: #999;
}
footer > .wrap > .info > a{
  display: block;
  margin: 10px 0;
  color: #999;
  font-size: 14px;
}
footer > .law_info{
  text-align: center;
}
footer > .law_info > i{
  display: block;
  background-color: #999999;
  height: 1px;
}
footer > .law_info > span{
  color: #B7B7B7;
  margin-right: 40px;
  line-height: 40px;
}

footer > .wrap > .webmap{
  float: left;
}
footer > .wrap > .webmap > li{
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 20px;
  vertical-align: top;
}
footer > .wrap > .webmap > li > h3{
  color: #999;
  font-size: 18px;
  /*text-align: center;*/
}
footer > .wrap > .webmap > li > a{
  display: block;
  color: #999;
  font-size: 14px;
  margin-top: 10px;
  /*text-align: center;*/
}
footer > .wrap > .webmap > li > a:hover{
  color: #fff;
}

.zh footer > .wrap > .webmap > li{
  margin-right: 80px;
}

.totop_shell{
  position: fixed;
  bottom: 40px;
  right: 40px;
}
.totop{
  cursor: pointer;
  display: none;
  width: 36px;
}

.wrap {
  width: 1240px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}



.home_about_bg{
  width: 100%;
  background-color: #F5F5F5;
  border: 1px solid #F5F5F5;
  padding: 40px 0;
}
.home_about_shell{
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
  padding: 100px 0px 100px 40px;
  overflow: hidden;
}

.home_about_shell > .left{
  /*border: 1px solid blue;*/
  width: 460px;
  float: left;
}
.home_about_shell > .left > h3{
  font-size: 24px;
  color: #2584F0;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 30px;
}
.home_about_shell > .left > i{
  display: block;
  width: 48px;
  height: 2px;
  background-color: #3C90F0;
  margin-bottom: 30px;
}
.home_about_shell > .left > p{
  font-size: 18px;
  color: #666;
  position: relative;
  padding-left: 20px;
  /*border: 1px solid blue;*/

}
.en .home_about_shell > .left > p{
  line-height: 25px;
}
.ru .home_about_shell > .left > p{
  line-height: 25px;
}
.home_about_shell > .left > p:before{
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #3C90F0;
  transform:rotate(45deg);
}
.home_about_shell > .left > a{
  font-size: 16px;
  color: #2584F0;
  float: right;
  position: relative;
  padding-right: 22px;
  margin-top: 50px;
}
.home_about_shell > .left > a:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 19px;
  height: 16px;
  background-image: url(../img/ico_rightArrow.png);
  transform: translate(0,-1.4px);
}

.home_about_shell > img{
  float: right;
  width: 660px;
}

.ru .home_about_shell > .left > h3{
  margin-top: -20px;
}
.en .home_about_shell > .left > h3{
  margin-top: 0;
}

.ru .home_about_shell > .left > a{
  margin-top: 20px;
}


.all_banner{
  height: 500px;
  margin-top: 70px;
  min-width: 1200px;
  background-repeat:no-repeat;
  background-size:100% auto;
  background-position: center;
}

.home_banner{
  min-width: 1200px;
  height: 800px;
  background-repeat:no-repeat; 
  background-size: 100% auto;
  background-position: center;
}
@media screen and (max-width: 1440px) {
  .home_banner{
    background-size:auto 100%;
  }
  .all_banner{
    background-size:auto 100%;
    margin-top: 100px;
  }

}


.banner_shell{
  position: relative;
}
.banner_shell > h1{
  width: 1200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 72px;
  color: #fff;
  margin-top: 190px;
  font-weight: normal;
}
.zh .banner_shell > h1{
  font-family: 汉仪雪君体简;
}



.por_banner{
  height: 790px;
  min-width: 1200px;
  background-repeat:no-repeat; 
  background-size:auto 100%;
  background-position: center;
  margin-top: 100px;
}

.pro_title{
  width: 100%;
  min-width: 1200px;
  text-align: center;
}
.pro_title > h1{
  display: inline-block;
  position: relative;
  font-size: 40px;
  color: #333;
  margin: 100px 0;
  font-weight: normal;
}
.pro_title > h1:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -165px;
  width: 145px;
  height: 8px;
  background-image: url(../img/icon_leftelem_orange.png);
}
.pro_title > h1:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -165px;
  width: 145px;
  height: 8px;
  background-image: url(../img/icon_rightelem_orange.png);
}
.pro_title_w > h1{
  color: #fff;
}
.pro_title_w > h1:before{
  height: 9px;
  background-image: url(../img/icon_leftelem_w.png);
}
.pro_title_w > h1:after{
  height: 9px;
  background-image: url(../img/icon_rightelem_w.png);
}

.pro_info{
  overflow: hidden;
}
.pro_info > li{
  width: 50%;
  /*height: 100px;*/
  /*border: 1px solid blue;*/
  float: left;
}
.pro_info > li:last-child{
  padding-top: 40px;
  
}
.pro_info > li:first-child > img{
  width: 500px;
  float: right;
  margin-right: 60px;
  margin-top: 10px;
}
.en .pro_info > li:first-child > img{
  margin-top: 30px;
}
.ru .pro_info > li:first-child > img{
  margin-top: 90px;
}

.pro_info > li:last-child > div > img{
  width: 100px;
}
.pro_info > li:last-child > div > p{
  font-size: 40px;
  color: #333;
  font-weight: bold;
  display: inline-block;
  vertical-align: 35px;
  margin-left: 40px;
  font-family: DINMittelschrift-Alternate;
}

.pro_info > li:last-child > p{
  font-size: 16px;
  color: #666;
  margin-top: 20px;
  text-indent: 2em;
  width: 520px;
}

.pro_info > li:last-child > .text > li{
  margin-top: 26px;
}
.pro_info > li:last-child > .text > li > h3{
  font-size: 20px;
  color: #333;
}
.pro_info > li > .text > li {
  padding-left: 50px;
}
.pro_info > li > .text > li > h3{
  position: relative;
}
.pro_info > li:last-child > .text > li > h3:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -50px;
  width: 32px;
  height: 32px;
  background-image: url(../img/icon_money.png);
  background-repeat:no-repeat;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
}
.pro_info > li:last-child > .text > li:last-child > h3:before{
  background-image: url(../img/icon_time.png);
}
.pro_info > li:last-child > .text > li > p{
  font-size: 16px;
  color: #666;
  margin-top: 6px;
}

.pro_info > li:last-child > a{
  display: inline-block;
  height: 40px;
  background: linear-gradient(to right,#ea4433,#ef8233);
  border-radius: 4px;
  line-height: 40px;
  padding: 0 30px;
  margin-top: 40px;
  font-size: 16px;
  color: #fff;
}


.pro_advantage{
  margin-top: 80px;
  width: 100%;
  height: 500px;
  min-width: 1200px;
  background-image: url(../img/img_advantage_bg.png);
  background-repeat:no-repeat; 
  background-size:auto 100%;
  background-position: center;
}
.pro_advantage > ul{
  overflow: hidden;
  /*border: 1px solid blue;*/
}
.en .pro_advantage > ul{
  margin-top: -30px;
}
.ru .pro_advantage > ul{
  margin-top: -50px;
}

.pro_advantage > ul > li{
  text-align: center;
  float: left;
  width: 25%;
  color: #fff;
  /*border: 1px solid blue;*/
  padding: 20px;
}
.pro_advantage > ul > li > img{
  height: 60px;
  width: auto;
}
.pro_advantage > ul > li > h3{
  font-size: 24px;
}
.pro_advantage > ul > li > p{
  font-size: 16px;
}



.ask{
  /*overflow: hidden;*/
}

.ask > li{
  width: 50%;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}
.ask > li > div{
  background-color: rgba(254,73,44,0.14);
  border-radius: 4px;
  padding: 40px;
  padding-left: 70px;
  margin-bottom: 20px;
  height: 180px;
  position: relative;
}


.ask > li > div > p{
  font-size: 18px;
  color: #333;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ask > li > div > span{
  font-size: 16px;
  color: #666;
  position: relative;
  display: block;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.ask > li > div > i{
  float: left;
  width: 24px;
  height: 24px;
}
.ask > li > div > i:nth-child(1){
  background-image: url(../img/icon_q.png);
  margin-left: -36px;
  margin-top: 4px;
}
.ask > li > div > i:nth-child(2){
  background-image: url(../img/icon_a.png);
  margin-left: -36px;
  margin-top: 43px;
}

.ask > li > div > div{
  display: none;
  /*background-color: #f5e1dd;*/
  background-color: #fff;
  border-radius: 4px;
  padding: 40px;
  width: 100%;
  padding-left: 70px;
  margin-bottom: 20px;
  position: absolute;
  left: 0;
  top: 0;
  /*border: 1px solid #ededed;*/
  z-index: 1;
  box-shadow: 0 0 14px rgba(0,0,0,0.08);
}
.ask > li > div > div > p{
  font-size: 18px;
  color: #333;
  font-weight: bold;
  position: relative;
}
.ask > li > div > div > span{
  font-size: 16px;
  color: #666;
  position: relative;
  display: block;
  margin-top: 10px;
}
.ask > li > div > div > span:before{
  content: '';
  width: 24px;
  height: 24px;
  font-size: 24px;
  background-image: url(../img/icon_a.png);
  border-radius: 4px;
  color: #fff;
  line-height: 24px;
  text-align: center;
  position: absolute;
  top: 2px;
  left: -36px;
  font-weight: normal;
}
.ask > li > div > div > p:before{
  content: '';
  width: 24px;
  height: 24px;
  font-size: 20px;
  background-image: url(../img/icon_q.png);
  border-radius: 4px;
  color: #fff;
  line-height: 24px;
  text-align: center;
  position: absolute;
  top: 4px;
  left: -36px;
  font-weight: normal;
}
.ask > li > div:hover{
  background-color: #fff;
}
.ask > li > div:hover div{
  min-height: 180px;
  display: block;
}


.btn_box{
  text-align: center;
  margin-bottom: 100px;
}
.btn_moreask{
  display: inline-block;
  color: #FF9456;
  height: 40px;
  line-height: 38px;
  padding: 0 30px;
  border-radius: 4px;
  border: 1px solid #FF9456;
  font-size: 16px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  margin-top: 20px;
  cursor: pointer;
}
.btn_moreask:hover{
  color: #fff;
  background-color: #FF9456;
}



.cashbus_ask{
  display: none;
  position: fixed;
  top: 0;
  z-index: 800;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}
.cashbus_ask > iframe{
  width: 1200px;
  height: 90%;
  background-color: #fff;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 4px;
}
.cashbus_ask > .close{
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  width: 60px;
  height: 60px;
  z-index: 1;
  cursor: pointer;
}
.cashbus_ask > .close:hover{
  background-color: rgba(0,0,0,0.7);
}
.cashbus_ask > .close > svg{
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}


.title_tab_shell{
  text-align: center;
  border-bottom: 1px solid #DBDBDB;
}
.title_tab{
  height: 100px;
}

.title_tab > a{
  display: inline-block;
  height: 40px;
  line-height: 38px;
  padding: 0 30px;
  border-radius: 50px;
  font-size: 16px;
  border: 1px solid transparent;
  color: #333;
  margin-top: 30px;
  margin-right: 80px;
}
.title_tab > a:last-child{
  margin-right: 0;
}
.title_tab > .now{
  border: 1px solid #DBDBDB;
}


.btn_wrap{
  text-align: center;
  margin: 60px 0;
}
 

.news > a{
  display: block;
  border-bottom: 1px solid #DBDBDB;
  padding: 40px 0;
  min-height: 240px;
}
.news > a > img{
  width: 240px;
  max-height: 200px;
}
.news .info{
  float: right;
  width: 900px;
}
.news .info > h3{
  font-size: 24px;
  color: #333;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news .info > span{
  display: block;
  color: #999999;
  font-size: 14px;
  margin: 6px 0;
}
.news .info > p{
  font-size: 16px;
  color: #666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.map-shell > img{
  display: none;
}
.zh .map-shell > img{
  display: block;
}
.zh .map-shell > .conta_map{
  display: none;
}

 










