

/* 公司简介 */
.main-content .banner-box {
    margin-top: 100px;
}

.main-content .banner-box img {
    width: 100%;
    height: auto;
}

.main-content .tab-head {
    padding: 30px 0;
    border-bottom: 1px solid #DBDBDB;
}

.main-content .tab-head ul li {
    display: inline-block;
    border-radius: 20px;
}

.main-content .tab-head ul li a {
    display: inline-block;
    font-size: 16px;
    color: #333;
    padding: 8px 42px;
    box-sizing: border-box;
    cursor: pointer;
}

.main-content .tab-head ul {
    text-align: center;
}

.main-content .tab-head ul li.male {
    margin-left: 92px;
}

.main-content .tab-head ul li.active {
    border: 1px solid #DBDBDB;
}

.tab-content {
    margin: 0 auto;
    width: 1200px;
}

.tab-content .value {
    margin-top: 100px;
}

.tab-content .value.bot {
    margin-bottom: 150px;
}

.tab-content .value span {
    font-size: 24px;
    font-weight: bold;
}

.tab-content .value .row {
    width: 100%;
    height: 1px;
    background: #DBDBDB;
    margin-top: 20px;
}

.tab-content .value p {
    font-size: 16px;
    margin-left: 220px;
    line-height: 1.8em;
    color: #666;
}
.en .tab-content .value p{
    margin-left: 300px;
}
.ru .tab-content .value p{
    margin-left: 300px;
}

.tab-content .value p.detail {
    margin-top: 20px;
}

/* 公司历程 */
.tab-content .wraper {
    padding: 70px 0 160px 0;
}

.main-content.gray {
    background: #F5F5F5;
}

.tab-head.white {
    background: #fff;
}

.tab-content .wraper .list .text {
    display: inline-block;
    width: 52%;
    position: relative;
}

.tab-content .wraper .list .item-detail {
    display: inline-block;
    width: 461px;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    font-size: 16px;
    color: rgba(102, 102, 102, 1);
    line-height: 24px;
    position: relative;
}

.item-detail:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    left: 100%;
    position: absolute;
    width: 0;
    border-width: 10px;
    border-left-color: #fff;
    top: 20px;
}

.tab-content .wraper .list {
    margin-top: 30px;
    position: relative;
}
.tab-content .wraper{
    position: relative;
}
.tab-content .line {
    position: absolute;
    height: 880px;
    width: 2px;
    background-color: #2584F0;
    left: 591px;
    top: 130px;
}

.tab-content .wraper .list .time-box {
    display: inline-block;
    font-size: 30px;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 20px;
}

.tab-content .wraper .list .time-box .dot_first{
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #8dbcf2;
    line-height: 18px;
    text-align: center;
    margin-left: 95.5px;
    margin-top: -38px;
}
.tab-content .wraper .list .time-box .dot_last{
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #8dbcf2;
    line-height: 18px;
    text-align: center;
    margin-left: 95.5px;
    margin-top: -38px;
}

.ru .tab-content .line{
    height: 1200px;
}
.ru .tab-content .wraper .list .time-box .dot_last{
    margin-top: -37px;
}
.en .tab-content .line{
    height: 1040px;
}
.en .tab-content .wraper .list .time-box .dot_last{
    margin-top: -37px;
}

.tab-content .wraper .list .time-box .dot_last span,
.tab-content .wraper .list .time-box .dot_first span{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #2584F0;
}

.list-right>div {
    float: right;
    position: relative;
}

.tab-content .line_left {
    position: absolute;
    height: 150%;
    width: 2px;
    background-color: #2584F0;
    left: 5px;
    top: 22px;
}

.list-right {
    margin-top: 30px;
}

.list-right .item-detail_right {
    display: inline-block;
    width: 478px;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    font-size: 16px;
    color: rgba(102, 102, 102, 1);
    line-height: 24px;
    position: relative;
    margin-top: -12px;
}

.list-right .item-detail_right:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    right: 100%;
    position: absolute;
    width: 0;
    border-width: 10px;
    border-right-color: #fff;
    top: 20px;
}

.tab-content .wraper .list-right .time-box {
    display: inline-block;
    font-size: 30px;
    vertical-align: top;
    margin-top: 10px;
    margin-right: 16px;
}

.tab-content .dot-boter {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #2584F0;
    margin-bottom: -16px;
    background-color: #f9f9f9;
}

.tab-content .dot-boter.left {
    display: block;
    margin-left: 101.5px;
    margin-top: -32px;
}

.tab-content .wraper .list-right .time-box .year {
    margin-left: 8px;
    margin-top: -30px;
}

.tab-content .year {
    font-family: DINMittelschrift-Alternate;
    font-size: 30px;
    display: block;
    width: 108px;
    height: 50px;
    text-align: center;
    margin-top: -4px;
    /*background-color: blue;*/
}

.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}



/* 公司简介 */
.introduce {
    text-align: center;
    padding: 100px;
    font-size: 20px;
    color: #666;
    line-height: 38px;
}

/* 联系我们 */
.banner-box {
    margin-top: 100px;
    position: relative;
}

.banner-box img {
    width: 100%;
    height: auto;
}

.banner-box.con-box {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 500px;
}

.connect-us {
    width: 1200px;
    margin: 0 auto;
    padding-top: 180px;
    font-size: 72px;
    color: #fff;
    
}
.zh .connect-us{
    font-family: 汉仪雪君体简;
}

.has-pad {
    padding: 100px 0;
}

.f_title {
    font-size: 22px;
    color: #333;
    font-weight: bold;
}

.s_title {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

.t_title {
    font-size: 14px;
    color: #999;
    padding: 20px 0 80px 0;
}

/* 资讯中心  新闻详情*/
.main-content .main-head {
    width: 100%;
    height: 200px;
    background: #F5F5F5;
    margin-top: 100px;
}

.main-content .main-head .main-title {
    width: 1200px;
    margin: 0 auto;
    padding-top: 76px;
    font-size: 48px;
    color: #333;
}

.news-box {
    width: 1200px;
    margin: 0 auto;
}

.news-box .news-title {
    padding: 70px 0 20px 0;
}

.news-box .news-title .tit {
    width: 800px;
    font-size: 34px;
    color: #333;
    text-indent: 1em;
}

.news-box .news-title .tit span {
    color: #999;
    font-size: 16px;
}

.news-item > div {
    display: inline-block;
    border-top: 1px solid #DBDBDB;
    margin-top: 10px;
    vertical-align: text-top;
}

.news-item .left {
    width: 800px;
    padding-top: 70px;
}


.news-item > .left > .info{
    font-size: 16px;
    margin-top: 20px;
}
.news-item > .left > .info > p{
    color: #666;
    margin-bottom: 40px;
}
.news-item > .left > .info > h2{
    color: #333;
    font-size: 20px;
}
.news-item > .left > p > img{
    display: block;
    margin: 40px;
}
.news-item > .left > .info > img{
    margin: 20px 0;
}


.news-item > .left > a{
    display: block;
    font-size: 16px;
    color: #666;
    border-top: 1px solid #DBDBDB;
    line-height: 60px;
    margin-top: 60px;
    margin-bottom: 80px;
}


.news-item .right {
    width: 300px;
    padding-top: 20px;
    margin-left: 96px;
}



.right .title{
    font-size: 20px;
    color: #333;
}
.right .new-list{
    margin-top: 20px;
}
.right .new-list p{
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}
.right .new-list p a{
    font-size: 16px;
    color: #666;
}




