*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  color: #333;
  font-size: 14px;
}
body, textarea, input, select{
  font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif
}
ul, li {
  list-style: none;
}
a{
  text-decoration:none;
}
button,
textarea,
input{
  outline: none;
}




/*组件*/
.wrap{
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
.btn{
  display: inline-block;
  text-align: center;
  line-height: 34px;
  padding: 0 20px;
  border-radius: 4px;
  background-color: #fff;
  color: #3575FF;
  outline: none;
  cursor: pointer;
  transition: all 0.1s ease-out;
  border: 1px solid #ddd;
}
.btn:hover{
  background-color: #f5f5f5;
}

.btn:disabled{
  color: #999;
  cursor: not-allowed;
}
.btn:focus{
  outline: none;
}
input[type='radio']{
  outline: none;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  background-image: url(../icon/icon_radio.png);
  background-size: 100% 100%;
  transition: all 0.2s ease-out;
}
input[type='radio']:disabled{
  opacity: 0.5;
  background-image: url(../icon/icon_radio_no.png);
}
input[type='radio']:checked{
  background-image: url(../icon/icon_radio_on.png);
}


/*icon 大*/
.ico-l{
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% 100%;
  background-image: url(../icon/a.png);
}

/*icon 中*/
.ico-m{
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% 100%;
  background-image: url(../icon/a.png);
}

/*icon 小*/
.ico-s{
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% 100%;
  background-image: url(../icon/a.png);
}






header{
  position: fixed;
  z-index: 300;
  width: 100%;
  height: 60px;
  background: transparent;
  border-bottom: 1px solid transparent;
  transition: all 0.6s ease-out;
}
header .logo{
  float: left;
  width: 110px;
  height: 34px;
  margin-top: 12px;
  margin-right: 20px;
  background-image: url(../img/logo_white.png);
  transition: background-image 0.2s ease-out;
  background-size: auto 100%;
}

header .menu{
  padding-top: 12px;
  overflow: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling:touch;
  position: relative;
  /*scroll-behavior: */
}
header .menu::-webkit-scrollbar{
  opacity: 0;
  color: #fff;
  display: none;
}
header .menu > a{
  display: inline-block;
  line-height: 34px;
  padding: 0 2px;
  margin: 0 10px;
  transition: all 0.2s ease-out;
  color: #fff;
  opacity: 0.8;
  border-bottom: 2px solid transparent;
}
header .menu > a:hover{
  opacity: 1;
}
#home header .menu > a.on{
  opacity: 1;
  border-bottom: 2px solid #fff;
}
header.down{
  background: #fff;
  border-bottom: 1px solid #ededed;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.05);
}
header.down .logo{
  background-image: url(../img/logo_black.png);
}
header.down .menu > a{
  color: #333;
}
#home header.down .menu > a.on{
  border-bottom: 2px solid #333;
}



.banner{
  background-image: url(../img/banner_bg.png);
  background-repeat: no-repeat;
  background-size: 700px auto;
  background-position: center center;
  background-color: #3575FF;
  
}
.banner > .wrap{
  position: relative;
  font-size: 0;
}
.banner > .wrap > .left,
.banner > .wrap > .right{
  vertical-align: middle;
  display: inline-block;
}
.banner > .wrap > .left{
  width: 40%;
  text-align: right;
  padding: 130px 60px;
}
.banner > .wrap > .left > img{
  max-width: 240px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 20px 80px 0 rgba(0,0,0,0.04);
}
.banner > .wrap > .right{
  width: 60%;
  padding-right: 100px;
}
.banner > .wrap > .right > span{
  font-size: 20px;
  color: #fff;
}
.banner > .wrap > .right > h1{
  font-size: 46px;
  color: #fff;
  font-weight: normal;
}
.banner > .wrap > .right > p{
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}
.banner > .wrap > .right > .btn{
  margin-right: 20px;
  line-height: 40px;
  background-image: url(../icon/ico_download.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 16px center;
  padding-left: 40px;
  color: #333;
  box-shadow: 0 3px 0 0 #CCCCCC;
  border: none;
}
.banner > .wrap > .right > .btn:active{
  transform: translateY(3px);
  box-shadow: 0 0px 0 0 #CCCCCC;
}
.banner .other-left{
  position: absolute;
  bottom: 240px;
  left: 16px;
  width: 14px;
  height: 95px;
  background-image: url(../icon/banner_left.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.banner .other-right{
  position: absolute;
  bottom: 80px;
  right: 16px;
  width: 350px;
  height: 523px;
  background-image: url(../icon/banner_right.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.title{
  text-align: center;
  padding: 60px 0 40px 0;
  background-repeat: no-repeat;
  background-position: center center;
}
.title.type1{
  background-size: 215px auto;
  background-image: url(../img/img_title1.png);
}
.title.type2{
  background-size: 219px auto;
  background-image: url(../img/img_title2.png);
}
.title.type3{
  background-size: 224px auto;
  background-image: url(../img/img_title3.png);
}
.title > h2{
  font-size: 24px;
  line-height: 1.6;
}
.title > p{
  color: #999;
}

.law-type{
  font-size: 0;
  text-align: center;
}
.law-type > a{
  display: inline-block;
  width: 25%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.law-type > a:hover > .circle-border{
  opacity: 1;
}
.law-type > a > .circle-border {
  opacity: 0;
  transition: opacity 0.4s ease-out;
  position: absolute;
  z-index: -1;
  top: 50%;
  margin-top: -80px;
  left: 50%;
  margin-left: -90px;
  width: 180px;
  height: 180px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(63,249,220);
  background: linear-gradient(0deg, rgba(53,117,255,0.4) 0%, rgba(63,249,220,0.4) 100%);
}
.law-type > a > .circle-border > .circle-core {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
}
.law-type > a > img{
  width: 100px;
}
.law-type > a > p{
  font-size: 22px;
}
.law-type > .more{
  margin-top: -30px;
}


.lawyer-list{
  font-size: 0;
}
.lawyer-list > li{
  width: 25%;
  display: inline-block;
  padding: 0 20px;
  margin-bottom: 40px;
}
.lawyer-list > li > img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 12px;
}
.lawyer-list > li > .main{
  margin-bottom: 10px;
}
.lawyer-list > li > .main > span{
  font-size: 18px;
  vertical-align: middle;
  display: inline-block;
}
.lawyer-list > li > .main > i{
  display: inline-block;
  font-style: normal;
  border: 1px solid #3575FF;
  border-radius: 4px;
  color: #3575FF;
  font-size: 12px;
  vertical-align: middle;
  line-height: 20px;
  padding: 0 6px;
  margin-left: 10px;
}
.lawyer-list > li > .base,
.lawyer-list > li > .firm{
  color: #666;
  padding-left: 18px;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: left center;
}
.lawyer-list > li > .base{
  margin-bottom: 6px;
  background-image: url(../icon/ico_base.png);
}
.lawyer-list > li > .firm{
  background-image: url(../icon/ico_firm.png);
}
.lawyer-list > .more{
  text-align: center;
}


.about{
  max-width: 860px;
  margin: 0 auto;
  font-size: 0;
  margin-bottom: 60px;
}
.about > *{
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.about > img{
  border-radius: 10px;
  padding: 6px;
}
.about > span{
  padding: 20px;
  font-size: 16px;
  color: #666;
  line-height: 1.8;
}

footer{
  padding-top: 60px;
  background-color: #0D263F;
  color: #fff;
}
footer > .wrap > ul{
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  margin-bottom: 40px;
}
footer > .wrap > ul > li{
  color: #fff;
  margin-bottom: 14px;
  font-weight: 300;
  opacity: 0.8;
}
footer > .wrap > ul > li.top{
  font-size: 18px;
  font-weight: normal;
  opacity: 1;
}
footer > .wrap > ul > li > a{
  color: #fff;
  background-image: url(../icon/ico_rightarrow.png);
  background-repeat: no-repeat;
  background-size: 4px 7px;
  background-position: right center;
  padding-right: 10px;
}
footer > .wrap > .ewm{
  display: inline-block;
  vertical-align: top;
  float: right;
}
footer > .wrap > .ewm > *{
  vertical-align: middle;
}
footer > .wrap > .ewm > img{
  width: 120px;
}
footer > .wrap > .ewm > span{
  color: #fff;
  display: inline-block;
  line-height: 1.6;
  margin-left: 16px;
  opacity:0.8;
  font-weight: 300;
}
footer > .wrap > .copyright{
  border-top: 1px solid rgba(255,255,255,0.1);
  line-height: 50px;
  text-align: center;
}
footer > .wrap > .copyright > span{
  display: inline-block;
  color: #fff;
  font-weight: 300;
  opacity: 0.8;
}
footer > .wrap > .copyright > span:last-child{
  margin-left: 10px;
}

@media screen and (max-width: 867px){
  .banner > .wrap > .left,
  .banner > .wrap > .right{
    display: block;
    width: 100%;
    text-align: center;
  }
  .banner > .wrap > .left{
    padding: 100px 0px 40px 0px;
  }
  .banner > .wrap > .right{
    padding: 0 0px 80px 0px;
  }
  .banner > .wrap > .right > h1{
    font-size: 28px;
  }
  .banner .other-right,
  .banner .other-left{
    display: none;
  }
  .banner > .wrap > .right > .btn{
    margin: 0 4px;
  }
  .law-type > a{
    width: 50%;
    margin-bottom: 60px;
  }
  .lawyer-list > li{
    width: 100%;
    padding: 0;
  }
  .about > *{
    width: 100%;
  }
  .about > img{
    padding: 0;
    border-radius: 4px;
  }
  .about > span{
    padding: 20px 0;
  }
  footer{
    padding-top: 30px;
  }
  footer > .wrap > ul{
    margin-right: 20px;
    margin-bottom: 20px;
  }
  footer > .wrap > .ewm{
    float: none;
  }
  footer > .wrap > .ewm > img{
    width: 100px;
  }
  footer > .wrap > .copyright{
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }
  footer > .wrap > .copyright > span{
    line-height: 1.8;
  }
}



.s-banner{
  height: 300px;
  background-color: #3575FF;
  background-image: url(../img/banner_bg.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: center center;
  text-align: center;
  line-height: 1.8;
}
.s-banner > .wrap{
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: 245px auto;
  background-image: url(../img/img_title4.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.s-banner > .wrap > h2{
  color: #fff;
  font-size: 32px;
}
.s-banner > .wrap > p{
  color: #fff;
  font-size: 14px;
}


.s-wrap{
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto;
}


.law-list{
  position: relative;
}
.law-list > .left{
  float: left;
  width: 200px;
  text-align: center;
  position: absolute;
  top: 60px;
  padding: 0 20px;
}
.law-list > .left.fixed{
  position: fixed;
  top: 100px;
}
.law-list > .left > a{
  display: block;
  line-height: 40px;
  color: #999;
  font-size: 16px;
  border-right: 2px solid #ededed;
  transition: all 0.2s ease-out;
}
.law-list > .left > a:hover{
  background:linear-gradient(90deg,rgba(255,255,255,1) 0%,rgba(224,234,255,1) 100%);
}
.law-list > .left > a.on{
  border-right: 2px solid #3575FF;
  color: #3575FF;
  background:linear-gradient(90deg,rgba(255,255,255,1) 0%,rgba(224,234,255,1) 100%);
}
.law-list > .right{
  margin-left: 200px;
  padding: 60px 100px;
}
.law-list > .right > li > img{
  width: 100%;
}
.law-list > .right > li > img.pic{
  width: 100px;
  padding-top: 30px;
}
.law-list > .right > li > h2{
  color: #3575FF;
  font-size: 22px;
  line-height: 1.8;
}
.law-list > .right > li > span{
  display: block;
  color: #999;
  font-size: 14px;
  margin-bottom: 30px;
}
.law-list > .right > li > p.q,
.law-list > .right > li > p.a,
.law-list > .right > li > p.case{
  position: relative;
  font-size: 16px;
  padding-left: 30px;
  line-height: 1.6;
}
.law-list > .right > li > p.q:before,
.law-list > .right > li > p.a:before,
.law-list > .right > li > p.case:before{
  position: absolute;
  left: 0px;
  top: 2px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
}
.law-list > .right > li > p.q{
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}
.law-list > .right > li > p.q:before{
  content: 'Q';
  background-color: #00CC15;
}
.law-list > .right > li > p.a{
  color: #666;
  margin-bottom: 30px;
}
.law-list > .right > li > p.a:before{
  content: 'A';
  background-color: #3575FF;
}
.law-list > .right > li > p.case{
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}
.law-list > .right > li > p.case:before{
  content: '例';
  background-color: #dea608;
}
.law-list > .right > li > p.tips{
  font-size: 16px;
  color: #3575FF;
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 867px){
  .law-list > .left{
    display: none;
  }
  .law-list > .right{
    margin-left: 0;
    padding: 30px 0;
    text-align: center;
  }
  .law-list > .right > li > p{
    text-align: left;
  }
}


#lawyer .lawyer-list{
  padding-top: 40px;
  padding-bottom: 60px;
}




