/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,p,h1,h2,h3,h4,h5,span{font-weight: 300;}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #2c343b;
  background-color: #ededed;
  line-height: 1.5;
}

a {
  color: #FF5760;
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  /*height: auto;*/
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-header {
  position: fixed;
  z-index: 2;
  /*top: 12px;*/
  left: 0;
  right: 0;
  margin: auto;
  /*margin: 12px;*/
  width: auto;
  height: 50px;
  background-color: #FF5760;
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
  /*border-radius: 0px 0px 30px 30px;*/
  /*box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);*/
} 
.tab_hover{
  position: relative;
}
.tab_hover:hover .tab_more{
  display: block;
}
.tab_hover:hover .tab_more_bg{
  display: block;
}
.tab_more{
  position: absolute;
  width: 2000px;
  height: 70px;
  background-color: #DE3941;
  top: 70px;
  right: 0;
  display: none;
}
.tab_more_bg{
  display: none;
  width: 1000%;
  height: 70px;
  background-color: #DE3941;
}
.tab_more a{
  width: 100px;
  height: 70px;
  background-color: #DE3941;
  float: right;
  line-height: 70px !important;
  padding: 0 !important;
}
.tab_more a:hover{
  /*background-color: #00000050;*/
  border-bottom: 2px solid #fff;
}
.nk{
  max-width: 1280px;
  margin: 0 auto;
}
.nk_padding{
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;
}
.cd-primary-nav {
  float: right;
  margin-right: 4%;
  width: 44px;
  height: 100%;
  background: url("../icon/cd-icon-menu.svg") no-repeat center center;
}
.cd-primary-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-110%);
  -moz-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  -o-transform: translateY(-110%);
  transform: translateY(-110%);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.cd-primary-nav ul li a:hover{
  color: rgba(255,255,255,0.6);
}

.wz_hover:hover{
  color: rgba(255,255,255,0.6);
}
.hover:hover{
  border-bottom: 2px solid #000000bd;
}
.b_hover:hover{
  background-color: #ededed;
}
.cd-primary-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-primary-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #FF5760;
  border-top: 2px solid rgba(255,255,255,0.2);
  color: #ffffff;
}
.cd-header span{
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5%;
  margin: auto;
}
.cd-header span img{
  width: auto;
  height: 100%;
}
footer{
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 40px 12px 20px 12px;
}
.box1{
  margin-left: 8%;
  float: left;
  margin-bottom: 12px;
}
.box1 p{
  margin: 6px 0;
}
.box2{
  width: 200px;
  margin: 0 auto;
}
.box2 p{
  text-align: center;
}
footer img{
  display: block;
  width: 120px;
  height: auto;
  margin: 0 auto;
}
footer p{
  font-size: 14px;
  color: #515151;
}
footer h3{
  font-weight: 400;
}
.icp{
  font-size: 12px;
  text-align: center;
  color: #767676;
  line-height: 1;

}
.index_news{
  margin: 12px;
  background-color: #fff;
  width: auto;
  /*height: 200px;*/
  border-radius: 10px;
  padding: 12px;
}
.index_news h3{
  border-bottom: 2px solid #ededed;
  line-height: 2;
  margin-bottom: 12px;
  margin-left: 4px;
}
.index_news h3 a{
  font-size: 14px;
  float: right;
}
.index_news ul{
  display: -webkit-flex;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
}
.index_news ul a{
  width: 24%;
  height: auto;
  margin: 0.5%;
  overflow: hidden;
  position: relative;
  border: 2px solid #ededed;
}
.index_news ul a p{
  color: #202020;
  margin: 12px;
}
.index_news ul a p span{
  color: #767676;
  font-size: 14px;
}
.index_team{
  /*display: block;*/
  margin: 12px;
  background-color: #fff;
  width: auto;
  height: 500px;
  border-radius: 10px;
  padding: 12px;
  position: relative;
  background-repeat:no-repeat; 
  background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-position: center;
}
.index_team ul{
  color: #fff;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.index_team p{
  max-width: 300px;
}
.index_team a{
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 10px 14px;
  background-color: #FF5760;
  color: #fff;
  border-radius: 30px;
}
.banner{
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.banner img{

}
.xbanner{
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat:no-repeat;
  background-size:100% auto;
  -moz-background-size:100% auto;
  position: relative;
}
.xbanner h1{
  color: #fff;
  text-align: center;
  position: absolute;
  left: 6%;
  bottom: 12%;
  text-shadow:0px 0px 20px rgba(0,0,0,0.5);
}
#about h2{
  text-align: center;
  margin: 30px 0;
}
#about img{
  margin: 12px 0;
}
/*979px以上响应样式*/
@media only screen and (min-width: 979px) {
  .cd-header {
    height: 70px;
  }
  .cd-primary-nav {
    width: auto;
    height: auto;
    background: none;
  }
  .cd-primary-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-primary-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-primary-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-primary-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
  }
  .cd-header span {
    height: 40px !important;
  }
}
/*979px以上响应样式*/

/*新闻中心*/
.news_title{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  width: 100%;
  padding: 12px;
  background-color: #fff;
}
.news_title a{
  padding: 0 24px;
  height: 50px;
  float: left;
  line-height: 50px;
  margin: 6px;
  text-align: center;
  border-radius:0 90px 0 90px;
  color: #202020;
  font-size: 18px;
}
.news_title a:hover{
  background-color: #ededed;
}
.news_title_on{
  background-color:#FF5760 !important;
  color: #fff !important;
}
.news_more{
  width: 100px;
  padding: 0px 24px;
  height: 40px;
  line-height: 40px;
  margin: 6px;
  text-align: center;
  border-radius:90px;
  color: #202020;
  font-size: 18px;
  background-color: #ededed;
  margin:0 auto;
  display: block;
}
.news_more:hover{
  background-color:#FF5760;
  color: #fff;
}
.hx_map{
  width: 100%;
  height: 500px;
  margin: 0 auto;
  display: block;
  border: 2px solid #ededed;
}
@media only screen and (max-width: 979px){
  .index_news ul a{
    width: 100%;
  }
  .tab_hover:hover .tab_more{
  display: none;
  }
  .tab_hover:hover .tab_more_bg{
    display: none;
  }
  .hx_map{
    width: 94%;
  }
  /*底部是否居中*/
  /*.box1 h3,.box1 p{
    text-align: center;
  }
  .box1{
    margin: 0 auto;
    float: none;
  }*/

}