html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
textarea,
input,
select,
ul,
ol,
li,
fieldset,
figure {
    margin: 0;
    padding: 0;
    border: none;
}

ul,
li {
    list-style: none;
}

html,
body {
    height: 100%;
    background-color: #fff;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

body.static {
    overflow: hidden;
    position: relative;
}

body,
textarea,
input,
select {
    font-size: 14px;
    color: #222222;
    line-height: 1.75;
    font-weight: normal;
    font-family: 'Lato', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
}

a {
    color: #232323;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{ 
    color: #B8B8B8;
    font-size:20px; 
    }
     
    input:-moz-placeholder,textarea:-moz-placeholder{ 
        color: #B8B8B8;
        font-size:20px; 
    }
     
    input::-moz-placeholder,textarea::-moz-placeholder{ 
        color: #B8B8B8;
        font-size:20px; 
    } 
    input:-ms-input-placeholder,textarea:-ms-input-placeholder{ 
        color: #B8B8B8;
        font-size:20px; 
    }
a img {
    border: none;
}

a.btn {
    padding: 8px 20px;
    display: inline-block;
    cursor: pointer;
}

a.btn.white-btn {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: -0.15px;
    border: 2px solid #FFFFFF;
    margin-top: 5px;
}

a.btn.black-btn {
    background: #FFFFFF;
    border: 2px solid #26314D;
    padding: 6px 20px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #26314D;
    letter-spacing: -0.15px;
}

.header.nav-active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05)!important;
    background: rgba(255, 255, 255, 0.98)!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01)!important;
}

.nav-active ul li {
    color: #202020!important;
}

.nav-active ul li a {
    color: #202020!important;
}

.nav-active ul li a.tit {
    color: #202020!important;
}
/* 头部 */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%);
    text-align: center;
    padding: 0 20px;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    z-index: 999;
}

.header ul {
    display: inline-block;
    width: 1000px;
    margin: 0 auto;
    height: 60px;
    text-align: left;
}

.header ul li.index-name a {
    font-size: 18px!important;
    color: #FFFFFF;
    letter-spacing: -0.19px;
    margin-right: 20px;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    font-weight: 600;
}

.header ul li {
    display: inline-block;
    color: #fff;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.header ul li a {
    color: #fff;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.header ul li.move-left {
    /* width: 94px; */
    height: 60px;
    float: right;
    text-align: center;
    line-height: 60px;
    font-family: PingFangSC-Light;
    font-size: 16px;
    letter-spacing: -0.17px;
}

.header ul li a.tit {
    font-family: PingFangSC-Light;
    display: inline-block;
    width: 94px;
    height: 60px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    letter-spacing: -0.17px;
    line-height: 60px;
}

.header ul li.index-name a {
    text-align: left;
}

.header ul li a.nav-list:hover {
    background: rgba(0, 0, 0, 0.15);
}

.header .user-account{
    display: inline-block;
}
.header .user-account #exit{
    margin-left: 20px;
}
/* 底部 */
.footers{
    background: #fff;
    margin-top: 25px;
    border: 1px solid #EDEDED;
}
.footers .foots-box{
    width: 1000px;
    margin: 0 auto;
    padding: 28px 40px;
}
.footers .foots-box .foots-list{
    display: inline-block;
    width: 33%; 
    vertical-align: top;
}
.footers .foots-box .foots-list p{
    font-size: 12px;
    color: #A2A2A2;
    letter-spacing: -0.13px;
}
.footers .foots-box .foots-list span{
    font-size: 14px;
    color: #6D6D6D;
    letter-spacing: -0.15px;
}
/* 清楚浮动 */
.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { *zoom:1; }

/* 弹出框 */
.modal-box {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    display: none;
}

.modal-box .layer {
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    overflow:hidden;
}

.modal-box .login-form {
    position: absolute;
    width: 380px;
    background: #fff;
    z-index: 1001;
    display: inline-block;
    top: 50%;
    left: 50%;  
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
.modal-box .login-form .form-head{
    width: 100%;
    height: 50px;
    background: #26314D;
    line-height: 50px;
    padding: 0 4px 0 40px;
}
.modal-box .login-form .form-head a{
    font-size: 16px;
    color: rgba(255,255,255,0.50);
    display: inline-block;
}
.modal-box .login-form .form-head a.register-tit{
    margin-left: 30px;
}
.modal-box .login-form .form-head a span{
    padding: 5px 0;
}
.modal-box .login-form .form-head a.active span{
    color: #FFF;
    border-bottom: 2px solid #fff;
}
.modal-box .login-form .form-head .default{
    position: absolute;
    right:10px;
    top:12px;
    cursor: pointer;
}

.modal-box .login-form .form-body{
    padding:10px 40px 30px 40px;
    display: none;
}
.modal-box .login-form .form-body .input-box{
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
}
.modal-box .login-form .form-body .label-name{
    font-size: 14px;
    color: #5A5A5A;
}
.modal-box .login-form .form-body .input{
    padding: 0 2px;
    margin-top: 10px;
    width: 100%;
}
.modal-box .login-form .form-body .input{
    padding: 0 2px;
    margin-top: 10px;
    width: 100%;
}
.modal-box .login-form .form-body .input.identify-input{
    max-width: 45%;
}
.modal-box .login-form .form-body .forget-password{
    display: inline-block;
    padding-top: 10px;
    font-size: 14px;
    color: #26314D;
}
.modal-box .login-form .form-body .modal-btn{
    color: #fff;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #174BF7;
    margin-top: 30px;
}
.modal-box .login-form .form-body .identify{
    padding: 7px 6px 7px 8px ;
    color: #fff;
    background: #03DE6D ;
    float: right;
    position: relative;
    top: -10px;
}
.modal-box .has-return {
    position: relative;
    display: none;
}
.modal-box .has-return .return-icon{
    position: absolute;
    left: -30px;
    top:12px;
    cursor: pointer;
}
.modal-box .has-return .reset-tit{
    width: 300px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: #FFF;
    letter-spacing: -0.17px;
}