body,html{
    background-color: #F9F9F9;
}
.main-content {
    width: 100%;
    min-height: 900px;
}
.main-content .head-top {
    width: 100%;
    height: 240px;
    background-image: url('../img/banner.png');
    background-size: 80% auto;
    background-color: #26314D;
    background-repeat: no-repeat;
    font-size: 14px;
    color: #fff;
}
.head-top .head-title {
    padding-top: 152px;
    width: 1000px;
    margin: 0 auto;
    font-family: PingFangSC-Regular;
    font-size: 34px;
    color: #FFFFFF;
    letter-spacing: -0.36px;
}

.personal-tit{
    width: 100%;
    height: 50px;
    background-color: #26314D;
}
.personal-tit .tab-box{
    width: 1000px;
    margin: 0 auto;
}
.personal-tit .tab-box a span{
    padding: 8px 0;
}
.personal-tit .tab-box a span.active{
    border-bottom: 2px solid #fff;
    color: #fff;
}
.personal-tit .tab-box a{
    line-height: 50px;
    font-size: 16px;
    color: rgba(255,255,255,0.50);
}
.personal-tit .tab-box a:nth-of-type(2){
    margin-left: 20px;
}
.input-info {
    width: 1000px;
    margin: 40px auto;
}
.input-info .info-kind{
    width: 468px;
    border: 1px solid #E8E8E8;
    height: 44px;
    margin: 10px 0;
    display: inline-block;
}
.input-info .info-kind:nth-of-type(2n-1){
    margin-right: 18px;
}
.input-info .info-kind p {
    float: left;
    color: #767676;
    width: 150px;
    overflow: hidden;
    line-height: 38px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
    margin: 0;
    position: relative;
}
.input-info .info-kind p::after {
    content: '';
    display: block;
    position: absolute;
    top: 14px;
    right: 0;
    width: 1px;
    height: 14px;
    background-color: #D9D9D9;
}
.input-info .info-kind input[type='text'] {
    background-color: transparent;
    border: 0;
    height: 42px;
    width: 316px;
    padding: 0 20px;
    color: #3a3a3a;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.input-info .info-kind input[type='text']:hover {
    background-color: #EDEDED;

}
.info-kind input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{ 
    color: #B8B8B8;
    font-size:14px; 
    }
     
.info-kind input:-moz-placeholder,textarea:-moz-placeholder{ 
        color: #B8B8B8;
        font-size:14px; 
    }
     
.info-kind input::-moz-placeholder,textarea::-moz-placeholder{ 
        color: #B8B8B8;
        font-size:14px; 
    } 
.info-kind input:-ms-input-placeholder,textarea:-ms-input-placeholder{ 
        color: #B8B8B8;
        font-size:14px; 
    }

.select_box {
    display: inline-block;
    position: relative;
    height: 38px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    }
.select_box > select {
    line-height: 42px;
    padding: 0 3px 0 20px;
    height: 38px;
    border-radius: 0px;
    border: 0;
    background-color: transparent;
    outline: none;
    appearance: none;
    cursor: pointer;
    font-size: 14px;
    color: #26314D;
    }
    
.input-info .submit-btn{
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    background: #174BF7;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: -0.17px;
    margin-top: 30px;
    cursor: pointer;
    }

/* 贷款记录 */
.recod-box{
    margin-top: 20px;
    display: none;
    }
    .recod-box .recod-list{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    font-size: 14px;
    color: #B8B8B8;
    background: #fff;
    border: 1px solid #E8E8E8;
    padding: 20px;
    margin-bottom: 20px;
    }
.recod-box .use-state{
    display: inline-block;
    padding: 3px 20px;
    background: linear-gradient(-90deg, #174BF7 0%, #002EC6 100%);
    border-radius: 13.5px 0 0 13.5px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 20px;
}
.recod-box .applying{
    background:#26314D;
}
.recod-box .repay{
    background:#B8B8B8;
}
.recod-box .use-endtimge{
    display: inline-block;
    padding: 3px 20px;
    background:#FF5050;
    border-radius: 13.5px 0 0 13.5px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 60px;
}

.recod-box .time-show{
    display: inline-block;
    margin-right: 30px;   
    }
.recod-box .time-show span{
    color: #5A5A5A;
}
.recod-box .recod-list i{
    color: #7F7F7F;
    font-size: 14px;
    vertical-align: text-bottom;
}
.recod-box .recod-list .show-detail{
    color: #FF5050;
}
.recod-box .recod-list ul{
    display: inline-block;
    margin-top: 20px;
}
.recod-box .recod-list ul li{
    display: inline-block;
    margin-right: 48px;
}
.recod-box .recod-list ul li p:nth-of-type(2){
    font-size: 20px;
    color: #26314D;
}