/*组件*/
#party{
	background-color: #f5f5f5;
	padding-bottom: 40px;
}
.pa-nomore{
	color: #a9a9a9;
	text-align: center;
	margin: 20px 0;
}
.pa-btn{
	display: block;
	width: 120px;
	text-align: center;
	line-height: 34px;
	padding: 0 10px;
	border-radius: 4px;
	background-color: #FF613F;
	color: #fff;
	margin: 20px auto 40px auto;
	outline: none;
	cursor: pointer;
	border: none;
}
.pa-btn:disabled{
	color: #6E6E6E;
	background-color: #EDEDED;
}
.btn:focus{
	outline: none;
}
input[type='radio']{
	outline: none;
	width: 20px;
	height: 20px;
	-webkit-appearance: none;
	background-image: url(../icon/icon_radio.png);
	background-size: 100% 100%;
	transition: all 0.2s ease-out;
}
input[type='radio']:disabled{
	opacity: 0.5;
	background-image: url(../icon/icon_radio_no.png);
}
input[type='radio']:checked{
	background-image: url(../icon/icon_radio_on.png);
}


/*icon 大*/
.ico-l{
	width: 34px;
	height: 34px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	background-size: 100% 100%;
	background-image: url(../icon/a.png);
}
.ico-home{
	background-image: url(../icon/icon_home.png);
	margin-left: -7px;
}
.ico-add{
	background-image: url(../icon/icon_add.png);
}

/*icon 中*/
.ico-m{
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	background-size: 100% 100%;
	background-image: url(../icon/a.png);
}


/*icon 小*/
.ico-s{
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	background-size: 100% 100%;
	background-image: url(../icon/a.png);
}
.ico-info{
	background-image: url(../icon/icon_info.png);
}
.ico-pay{
	background-image: url(../icon/icon_pay.png);
}
.ico-phone{
	background-image: url(../icon/icon_phone.png);
}

/*活动导航栏*/
.pa-nav{
	height: 50px;
	background-color: #FF613F;
}

.pa-wrap{
	max-width: 840px;
	padding: 0 20px;
	margin: 0 auto;
	border-top: 1px solid transparent;
}
.pa-nav > .pa-wrap > .left{
	margin-top: 7px;
	display: inline-block;
}
.pa-nav > .pa-wrap > .left > *{
	display: inline-block;
	vertical-align: middle;
}
.pa-nav > .pa-wrap > .left > .to-home,
.pa-nav > .pa-wrap > .right > .to-add{
	color: #fff;
	border-radius: 4px;
	transition: all 0.2s ease-out;
}
.pa-nav > .pa-wrap > .left > .to-home:hover,
.pa-nav > .pa-wrap > .right > .to-add:hover{
	opacity: 0.8;
}
.pa-nav > .pa-wrap > .left > .to-home > *,
.pa-nav > .pa-wrap > .right > .to-add > *{
	display: inline-block;
	vertical-align: middle;
}


.pa-nav > .pa-wrap > .right{
	float: right;
	margin-top: 4px;
}
.pa-nav > .pa-wrap > .right > *{
	display: inline-block;
	vertical-align: middle;
}
.user-center{
	padding: 3px;
	background-color: #FF613F;
	background-color: rgba(0,0,0,0.1);
	border-radius: 100px;
	margin-left: 20px;
	transition: all 0.2s ease-out;
	white-space:nowrap;
}
.user-center > *{
	display: inline-block;
	vertical-align: middle;
}
.user-center > .userpic{
	border-radius: 50px;
	border:1px solid #ededed;
	width: 34px;
	height: 34px;

}
.user-center > a{
	color: #fff;
	line-height: 34px;
	border-radius: 20px;
	padding: 0 8px;
	position: relative;
	transition: all 0.2s ease-out;
}
.user-center > a:hover{
	background-color: rgba(0,0,0,0.1);
}
.user-center > a > .num{
	font-style: normal;
	font-size: 12px;
	width: 16px;
	height: 16px;
	background-color: #3a3a3a;
	background-color: rgba(0,0,0,0.5);
	display: inline-block;
	border-radius: 8px;
	line-height: 16px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
}
.user-center > a > .num:empty{
	display: none;
}

.user-center > .pa-close{
	display: none;
	color: #fff;
	padding: 0 6px;
	line-height: 34px;
	border-radius: 20px;
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
	transition: all 0.2s ease-out;
	background-image: url(../icon/icon_close.png);
}

.show-user-center > .pa-wrap > .left,
.show-user-center > .pa-wrap > .right > .to-add{
	display: none;
}
.show-user-center .user-center{
	margin-left: 0;
}
.show-user-center .user-center > a{
	display: inline-block;
}
.show-user-center .user-center > .pa-close{
	display: inline-block;
}

@media screen and (max-width: 648px) {
	.user-center > a{
		display: none;
	}
}





/*首页活动类别*/
.pa-type{
	height: 50px;
	background-color: #fff;
	border-top: 1px solid transparent;
	box-shadow: 0 0.5px 0px 0 #ededed;
}
.pa-type > .pa-wrap > .base{
	float: left;
	line-height: 34px;
	margin-right: 10px;
	margin-top: 5px;
	background-image: url(../icon/icon_bottomarrow.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: right center;
	padding-right: 20px;
	cursor: pointer;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pa-type > .pa-wrap > .base::before{
	content: '';
	width: 14px;
	height: 14px;
	margin-right: 6px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(../icon/icon_base.png);
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: right center;
}

.pa-type .type-list{
	overflow: auto;
	margin-top: 3px;
	white-space: nowrap;
	-webkit-overflow-scrolling:touch;
}
.pa-type .type-list::-webkit-scrollbar{
	opacity: 0;
	color: #fff;
	display: none;
}
.pa-type .type-list li,
.pa-type .type-list .slist > ul{
	display: inline-block;
	line-height: 34px;
	padding: 0 8px;
}

.pa-type .type-list .k{
	border-radius: 40px;
	transition: all 0.2s ease-out;
	cursor: pointer;
}

.pa-type .type-list .k:hover{
	background-color: #ededed;
}
.pa-type .type-list .on{
	background-color: #FF613F !important;
	color: #fff !important;
}

.pa-type .type-list .slist{
	border: 0.5px solid #ededed;
	padding: 2.5px;
	border-radius: 20px;
}
.pa-type .type-list .slist > span{
	color: #a9a9a9;
	border-right: 0.5px solid #ededed;
	float: left;
	padding: 0 8px;
	line-height: 18px;
	margin-top: 8px;
}
.pa-type .type-list .slist > ul{
	padding: 0;
}
.pa-type .type-list .slist > ul > .k:first-child{
	margin-left: 4px;
}




.pa-list{
	
}
.pa-item{
	background-color: #fff;
	border: .5px solid #ededed;
	padding: 20px;
	margin-top: 20px;
	border-radius: 4px;
	display: block;
}
.pa-item > .left{
	overflow: hidden;
}
.pa-item > .left > .title{
	margin-bottom: 14px;
}
.pa-item > .left > .title > .type{
	color: #fff;
	border-radius: 4px;
	line-height: 20px;
	background-color: #FF613F;
	display: inline-block;
	font-style: normal;
	padding: 0 6px;
}
.pa-item > .left > .title > h5{
	color: #3a3a3a;
	font-weight: bold;
	display: inline-block;
	margin: 0;
	font-size: 16px;
}
.pa-item > .left > .title > .tip{
	line-height: 20px;
	padding: 0 6px;
	border: 0.5px solid #ededed;
	border-radius: 4px;
	font-style: normal;
	color: #6e6e6e;
	display: inline-block;
	background-color: #f5f5f5;
	position: relative;
	margin-left: 10px;
}
.pa-item > .left > .title > .tip::before{
	content: '';
	position: absolute;
	top: 4px;
	left: -5px;
	width: 6px;
	height: 12px;
	background-image: url(../icon/icon_leftarrow.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.pa-item > .left > .title > .tip > em{
	font-style: normal;
	color: #FD7070;
	font-weight: bold;
}
.pa-item > .left > .info{
	color: #a9a9a9;
	margin-bottom: 14px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-align: justify;
	line-height: 24px;
}
.pa-item > .left > .other{
	
}
.pa-item > .left > .other > li{
	color: #6e6e6e;
	float: left;
	width: 50%;
	line-height: 24px;
}
.pa-item > .left > .other > .base{
	width: 100%;
}
.pa-item > .pic{
	width: 180px;
	margin-left: 20px;
	float: right;
	border-radius: 4px;
	max-height: 166px;
	object-fit: cover;
	object-position: center;
}



.item-info{
	background-color: #fff;
	border: 0.5px solid #ededed;
	border-radius: 4px;
	margin-top: 20px;
}
.pa-head{
	height: 50px;
	padding: 0 30px;
	border-bottom: 0.5px solid #ededed;
	line-height: 50px;
	position: relative;
}
.pa-head > h4{
	text-align: center;
	margin: 0;
	line-height: 50px;
	font-size: 16px;
}
.pa-head > .fn{
	position: absolute;
	right: 30px;
	top: -1px;
}
.pa-head > .fn > .btn{
	color: #FF613F;
	transition: all 0.2s ease-out;
}
.pa-head > .fn > .btn:hover{
	background-color: #ededed;
}

.item-info > .bottom{
	display: block;
	padding: 30px;
}
.item-info > .bottom > .title > .type{
	color: #fff;
	border-radius: 4px;
	line-height: 20px;
	background-color: #FF613F;
	display: inline-block;
	font-style: normal;
	padding: 0 6px;
	vertical-align: middle;
}
.item-info > .bottom > .title > h3{
	color: #3a3a3a;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    font-size: 16px;
    vertical-align: middle;
}
.item-info > .bottom > .title > .tip{
	float: right;
	line-height: 34px;
	padding: 0 6px;
	border: 0.5px solid #ededed;
	border-radius: 4px;
	color: #6E6E6E;
	font-style: normal;
	transition: all 0.2s ease-out;
	margin-top: -5px;
}
.item-info > .bottom > .title > .tip > em{
	color: #fff;
	display: inline-block;
	line-height: 20px;
	border-radius: 20px;
	padding: 0 6px;
	font-style: normal;
	background-color: #FD7070;
}
.item-info > .bottom > .title > .href-on{
	padding-right: 20px;
	background-image: url(../icon/icon_rightarrow.png);
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: 96% center;
}
.item-info > .bottom > .title > .href-on:hover{
	background-color: #ededed;
}

.item-info > .bottom > .pic{
	border-radius: 4px;
	width: 100%;
	max-height: 500px;
	object-fit: cover;
	margin-top: 20px;
	margin-bottom: 20px;
}
.item-info > .bottom > .other{
	overflow: hidden;
}
.item-info > .bottom > .other > li{
	float: left;
	width: 50%;
	margin-bottom: 10px;
	position: relative;
}
.item-info > .bottom > .other > li > span{
	color: #A9A9A9;
}
.item-info > .bottom > .other > li > p{
	color: #3a3a3a;
}
.item-info > .bottom > .other > li > .btn{
	color: #FF613F;
	border: 0.5px solid #ddd;
	transition: all 0.2s ease-out;
	position: absolute;
	right: 20px;
	top: 3px;
}
.item-info > .bottom > .other > li > .btn:hover{
	background-color: #ededed;
}
.item-info > .bottom > .stitle{
	/*margin-top: 10px;*/
}
.item-info > .bottom > .stitle > h5{
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
}
.item-info > .bottom > .info{
	color: #6E6E6E;
}
.item-info > .bottom > .ewm{
	text-align: center;
}
.item-info > .bottom > .ewm > img{
	width: 140px;
	max-height: 240px;
	object-fit: cover;
	margin-bottom: 10px;
	border-radius: 4px;
}
.item-info > .bottom > .ewm > p > em{
	display: inline-block;
	font-style: normal;
	color: #fff;
	border-radius: 4px;
	padding: 0 4px;
	margin: 0 4px;
	font-weight: normal;
}
.item-info > .bottom > .ewm > p > .wechat{
	background-color: #81ba36;
}
.item-info > .bottom > .ewm > p > .alipay{
	background-color: #52a3e6;
}
.item-info > .bottom > .ewm > span{
	color: #FF6464;
	font-weight: bold;
}


.ap-list{
	padding: 0 30px
}
.ap-list > li{
	padding: 14px 0;
	border-bottom: 0.5px solid #ededed;
}
.ap-list > li:last-child{
	border-bottom: none;
}
.ap-list > li > a > .pic{
	width: 46px;
	height: 46px;
	object-fit: cover;
	border-radius: 4px;
	float: left;
	margin-right: 20px;
}
.ap-list > li > .info{
	position: relative;
	overflow: hidden;
}
.ap-list > li > .info > .title,
.ap-list > li > .info > .other{
	overflow: hidden;
}
.ap-list > li > .info > .title > a{
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	color: #3a3a3a;
	font-weight: bold;
}
.ap-list > li > .info > .title > .v{
  display: inline-block;
  margin-left: 6px;
  margin-right: 20px;
  width: 14px;
  height: 14px;
  background-image: url(../icon/icon_v.png);
  background-size: 100% 100%;
  vertical-align: middle;
}
.ap-list > li > .info > .title > .t,
.ap-list > li > .info > .title > .u{
  font-style: normal;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  border-radius: 4px;
  padding: 0 4px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.ap-list > li > .info > .title > .t{ 
  color: #5FC191;
  border: 1px solid #5FC191;
}
.ap-list > li > .info > .title > .u{
  color: #E8CA33;
  border: 1px solid #E8CA33;
}
.ap-list > li > .info > .other{
	margin-top: 4px;
}
.ap-list > li > .info > .other > li{
	display: inline-block;
	margin-right: 20px;
	color: #6e6e6e;
}
.ap-list > li > .info > .other > li:last-child{
	margin-right: 0;
}
.ap-list > li > .info > .fn{
	float: right;
}
.ap-list > li > .info > .fn > .btn{
	background-color: #FF6464;
	color: #fff;
	transition: all 0.2s ease-out;
	margin-top: 6px;
}
.ap-list > li > .info > .fn > .btn:hover{
	opacity: 0.8;
}
.ap-list > li > .info > .fn > .ok{
	background-color: #5FC191;
	color: #fff;
	border-color: transparent;
}


.lawyer-info{
	background-color: #fff;
	border-radius: 4px;
	margin-top: 20px;
}
.lawyer{
	padding: 30px;
}
.lawyer > img{
  width: 100px;
  height: 100px;
  border-radius: 4px;
  float: right;
}
.lawyer > .text{
  display: inline-block;
  vertical-align: top;
}
.lawyer > .text > .top{
  margin-bottom: 16px;
}
.lawyer > .text > .top > h4{
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.lawyer > .text > .top > .v{
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  margin-right: 20px;
  width: 14px;
  height: 14px;
  background-image: url(../icon/icon_v.png);
  background-size: 100% 100%;
}
.lawyer > .text > .top > .t,
.lawyer > .text > .top > .u{
  font-style: normal;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  border-radius: 4px;
  padding: 0 4px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.lawyer > .text > .top > .t{ 
  color: #5FC191;
  border: 1px solid #5FC191;
}
.lawyer > .text > .top > .u{
  color: #E8CA33;
  border: 1px solid #E8CA33;
}
.lawyer > .text > .center{
  margin-bottom: 16px;
}
.lawyer > .text > .center > span{
	vertical-align: middle;
}
.lawyer > .text > .center > .place{
  color: #6E6E6E;
  margin-right: 20px;
}
.lawyer > .text > .center > .place:before{
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../icon/icon_base.png);
  background-repeat:no-repeat; 
  background-size:100% 100%;
  vertical-align: -2px;
  margin-right: 4px;
}
.lawyer > .text > .center > .firm{
  color: #6E6E6E;
}
.lawyer > .text > .bottom > li{
  background: #EDEDED;
  border-radius: 70px;
  color: #6E6E6E;
  display: inline-block;
  margin-right: 10px;
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
}
.lawyer > .info{
  width: calc(100% - 120px);
  padding-top: 16px;
  margin-top: 16px;
  border-top: 0.5px solid #ededed;
}
.lawyer > .info > li{
  width: 50%;
  display: inline-block;
}
.lawyer > .info > li > span{
  color: #A9A9A9;
}
.lawyer > .info > li > p{
  color: #6E6E6E;
  margin-top: 6px;
}

  

.setbase{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 801;
	text-align: center;
	padding: 20px;
	padding-top: 200px;
}  
.setbase > select{
	max-width: 25%;
	height: 40px;
	border: 1px solid #ededed;
	outline: none;
	background-color: #fff;
	vertical-align: middle;
}
.setbase > .go{
	max-width: 25%;
	padding: 0 20px;
	height: 40px;
	border-radius: 4px;
	border: none;
	outline: none;
	background-color: #FF613F;
	color: #fff;
	vertical-align: middle;
	border: 1px solid rgba(255,255,255,0.2);
	transition: all 0.2s ease-out;
}
.setbase > .go:hover{
	background-color: #fd6c4d;
}

.newitem{
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  overflow: hidden;
}
.newitem > .fn{
 	padding: 30px 15px 0 15px;
 	overflow: hidden;
}
.newitem > .fn .btn-default{
	position: relative;
	width: 84px;
	height: 34px;
}

.newitem > .fn select{
	outline: none;
	border: none;
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

input[type="file"]{
	outline: none;
}


.set-period > input{
	width: 50%;
	float: left;
}
.set-period > input:first-child{
	border-radius: 4px 0 0 4px;
}
.set-period > input:last-child{
	border-radius: 0 4px 4px 0;
}

.set-time{
	background-image: url(../icon/icon_time.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px 20px;
}



.radio-box{
	height: 34px;
	line-height: 34px;
	vertical-align: middle;
}
.radio-box > input{
	margin: 0 4px 0 20px;
	vertical-align: middle;
}
.radio-box > input:first-child{
	margin-left: 0;
}
.radio-box > label{
	font-weight: normal;
	vertical-align: middle;
	margin: 0;
}









