
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 300;
}
body{
	color: #fff;
	background-color: #0D263F;
	font-size: 14px;
	line-height: 1.4;
	/*transition: all .1s ease-out;*/
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
li{
	list-style: none;
}


/*滚动条样式*/
html::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
html::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.2);
}
html::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    /*border-radius: 10px;*/
    background: rgba(0,0,0,0.2);
}


/*loading*/
body div.load{
	animation: move 2s infinite linear; 
}
p.load::after{
	content: '';
	animation: load 2s infinite linear; 
}
.load.tips{
	opacity: 0;
}
@keyframes load{
    0%,100%{
		content: '';
    }
    25%{
		content: '.';
    }
    50%{
		content: '..';
    }
    75%{
		content: '...';
    }
}

.wrap{
	width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: #0D263F;
}
header > .wrap > .menu{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	position: relative;
}
header > .wrap > .menu::after{
	content: '';
	position: absolute;
	bottom: 12px;
	left: 0;
	width: 100%;
	height: 3px;
	display: inline-block;
	background-color: rgba(0,0,0,0.2);
	border-radius: 2px;
}
header > .wrap > .menu > li{
	display: inline-block;
	padding: 28px 0;
	margin-right: 20px;
	cursor: pointer;
	color: rgba(255,255,255,0.6);
	transition: all 0.2s ease-out;
	position: relative;
}
header > .wrap > .menu > *:nth-last-child(2){
	position: relative;
	margin-right: 0;
}
header > .wrap > .menu > *:nth-last-child(2)::before{
	content: '';
	position: absolute;
	width: 1px;
	height: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
	left: -20px;
	background-color: rgba(255,255,255,0.5);
}
header > .wrap > .menu > *:nth-last-child(3){
	margin-right: 40px;
}
header > .wrap > .menu > li.on{
	color: #fff;
}
header > .wrap > .menu > .now{
	position: absolute;
	bottom: 12px;
	left: 0px;
	transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
	height: 3px;
	background-color: #30FFA2;
	border-radius: 2px;
	z-index: 10;
}


header > .wrap > .right{
	background-color: rgba(255,255,255,0.1);
	color: #fff;
	line-height: 1;
	padding: 16px 24px;
	/*border-radius: 0 0 10px 10px;*/
	float: right;
	font-size: 14px;
	font-weight: normal;
	transition: all 0.3s ease-out;
}

/*动画关键帧，翻滚吧！牛宝宝*/
@keyframes move{
    0%{
        transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;
    }
    100%{
        transform:rotateX(720deg) rotateY(360deg) rotateZ(360deg);
    }
}

div.cube{
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
    width: 20px;                                               /*box设置宽度200像素*/
    height: 20px;                                              /*设置高度200像素*/
    position: relative;                                         /*开启相对定位，好让里面的元素开启定位时不会高度塌陷*/
    color: #fff;                                             /*字体的颜色*/
    font-size: 10px;                                            /*字体大小*/
    text-align: center;                                         /*文本字体左右居中*/
    line-height: 20px;                                         /*行高设置，这样文本就在比box中是上下居中*/
    transform-style: preserve-3d ;                              /*开启这个，表示所有元素在3D平面呈现*/
    transform: rotateX(-50deg) rotateY(-50deg) rotateZ(0deg);   /*一开始的角度，视觉上看一下*/
    animation: move 40s infinite linear;                         /*启动动画的名字、时长、无限循环、匀速播放*/
}

/*大的正方体的设置*/
.cube > div{
    width: 100%;                              /*设置的宽度和父级一样*/
    height: 100%;                             /*设置的高度一样*/
    border: 1px solid #fff;               /*边框设置*/
    position: absolute;                       /*开启绝对定位，这样就全部叠在一起了*/
    background-color: rgba(51,51,51,.8);
    transition:transform 0.3s ease-in;        /*过度变形的时间设置和快慢设置*/
}

/*设置大的正方体的六个面的位置*/
.cube div.out-front{
    /*background-color: #262dff;*/
    transform: translateZ(10px);                   /*设置前面的那一面的Z轴往前移*/
}
.cube div.out-back{
    /*background-color: #ff4426;*/
    transform: translateZ(-10px) rotateY(180deg);  /*设置后面的那一面的Z轴往后移，Y轴转一下。使得的背面的那一面是面向背面的*/
}
.cube div.out-left{
    /*background-color: #fafd2e;*/
    transform: translateX(-10px) rotateY(-90deg);  /*设置左边的那一面在X轴上退一些，向左转*/
}
.cube div.out-right{
    /*background-color: #f226ff;*/
    transform: translateX(10px) rotateY(90deg);    /*设置右边的那一面在X轴上进一些，向右转*/
}
.cube div.out-top{
    /*background-color: #26f5ff;*/
    transform: translateY(-10px) rotateX(90deg);   /*设置上边的那一面在Y轴上去一些，向后翻转*/
}
.cube div.out-bottom{
    /*background-color: #26ff37;*/
    transform: translateY(10px) rotateX(-90deg);   /*设置下边的那一面在X轴下去一些，向前翻*/
}





.content{
    overflow: hidden;
	margin-bottom: 40px;
	padding-top: 78px;
}


.web-list{
	
}
.web-list > li > .title{
	border-left: 2px solid #5e10da;
	line-height: 10px;
	padding-left: 10px;
	margin: 40px 0 20px 0;
	font-weight: normal;
}
.web-list > li > .s-list{
	font-size: 0;
}
.web-list > li > .s-list > a{
	display: inline-block;
	vertical-align: middle;
	width:25%;
	height:116px;
	text-decoration: none;
	background-color: rgba(255,255,255,0.02);
	border: 1px solid #0D263F;
	transition: all 0.2s ease-out;
}
.web-list > li > .s-list > a:hover{
	background-color: rgba(255,255,255,0.06);
}
.web-list > li > .s-list > a > img{
	width:30px;
	height:30px;
	object-fit: cover;
	margin: 24px 20px 40px 24px;
	float: left;
}
.web-list > li > .s-list > a > p{
	font-size:16px;
	margin-top: 16px;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 20px;
}
.web-list > li > .s-list > a > em{
	font-size: 12px;
	color: rgba(255,255,255,0.8);
	display: inline-block;
	margin: 8px 6px 8px 0;
	font-style: normal;
	padding: 2px 8px;
	/*background-color: rgb(255,255,255,0.05);*/
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 20px;
}
.web-list > li > .s-list > a > span{
	font-size:12px;
	display: block;
	margin-top: 4px;
	color: #fff;
	opacity: 0.6;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-right: 20px;
}
.web-list > li:last-child > .title{
	font-size: 20px;
	text-align: center;
	border: none;
}
.web-list > li:last-child > .title::after{
	content: ' / Tips';
}


.tips{
	padding: 4px;
	min-height: 500px;
	background-color: rgba(0,0,0,0.1);
	font-size: 0;
}
.tips > li{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	padding: 16px;
	width: 25%;
	height: 120px;
	border: 1px solid #0e2336;
	background-color: rgba(255,255,255,0.02);
	transition: all 0.2s ease-out;
	position: relative;
	font-size: 0;
}
.tips > li:hover{
	background-color: rgba(255,255,255,0.05);
}

.tips > li > .num{
	position: absolute;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	border-radius: 20px;
	line-height: 20px;
	text-align: center;
	margin-right: 10px;
	font-size: 14px;
}
.tips > li > .num.red{
	background-color: red;
}
.tips > li > .num.yellow{
	background-color: yellow;
}
.tips > li > .num.green{
	background-color: #2eff2e;
}
.tips > li > .num.blue{
	background-color: #1573ff;
}
.tips > li > .num.pink{
	background-color: #ffa5db;
}

.tips > li > span{
	display: block;
	height: 86px;
	line-height: 1.6;
	text-align: justify;
	overflow: auto;
	font-size: 14px;
}
.tips > li > span::-webkit-scrollbar{
	display: none;
}
.tips > li:hover > .ok{
	opacity: 1;
}
.tips > li > .ok{
	opacity: 0;
	position: absolute;
	z-index: 1;
	right: 0px;
	bottom: -34px;
	background-color: #30FFA2;
	width: 100%;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #666;
	font-weight: normal;
	cursor: pointer;
	border-radius: 0 0 10px 10px;
	transition: all 0.2s ease-out;
	font-size: 14px;
}
.tips > .add{
	font-size: 40px;
	text-align: center;
	line-height: 76px;
	cursor: pointer;
}
.tips-add{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
	width: 100%;
	min-width: 1240px;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
.tips-add > .form{
	width: 280px;
	max-height: 80%;
	margin: 200px auto;
	background-color: #0D263F;
	padding: 20px;
	transition: all 0.2s ease-out;
}
.tips-add > .form.show{
	margin-top: 180px;
}
.tips-add > .form > h2{
	text-align: center;
	margin-bottom: 14px;
}
.tips-add > .form > textarea{
	border-radius: 4px;
	width: 100%;
	height: 80px;
	resize: none;
	background-color: rgba(0,0,0,0.1);
	border: none;
	color: #fff;
	padding: 10px;
	transition: all 0.2s ease-out;
}
.tips-add > .form > textarea::-webkit-scrollbar{
	display: none;
}
.tips-add > .form > textarea:focus{
	outline: none;
	background-color: rgba(0,0,0,0.2);
}
.tips-add > .form > input[type="radio"]{
	outline: none;
    -webkit-appearance: none;
    padding: 8px;
    border-radius: 20px;
    margin-right: 4px;
    margin-top: 10px;
    border:2px solid #0D263F;
}
.tips-add > .form > input[type="radio"]:checked{
	border:2px solid #fff;
}
.tips-add > .form > input[type="radio"].red{
	background-color: red;
}
.tips-add > .form > input[type="radio"].yellow{
	background-color: yellow;
}
.tips-add > .form > input[type="radio"].green{
	background-color: #2eff2e;
}
.tips-add > .form > input[type="radio"].blue{
	background-color: #1573ff;
}
.tips-add > .form > input[type="radio"].pink{
	background-color: #ffa5db;
}
.tips-add > .form > .done{
	background-color: rgba(255,255,255,0.05);
	border-radius: 4px;
	text-align: center;
	margin: 20px;
	padding: 10px 0;
	cursor: pointer;
	box-shadow: 0 3px 0 0 rgba(0,0,0,0.3);
	transition: all 0.2s ease-out;
}
.tips-add > .form > .done:hover{
	background-color: rgba(255,255,255,0.08);
}
.tips-add > .form > .done:active{
	box-shadow: 0 0px 0 0 rgba(0,0,0,0.3);
}






footer{
	border-top: 1px solid rgba(0,0,0,0.1);
	width: 1240px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	font-size: 12px;
}
footer > span:last-child{
	margin-left: 10px;
}