/*base*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
    background: #ededed;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", "Helvetica", "Arial", sans-serif;
    color:#202020;
}
div,a{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	color: #202020;
	text-decoration:none;
}
h1{
	font-size: 28px;
	color: #fff;
}
h2{
	font-size: 18px;
	font-weight: bold;
}
h3{
	font-size: 16px;
	font-weight: normal;
	color: #fff;
}
h4{
	font-size: 14px;
	font-weight: bold;
}
p,span{
	font-size: 12px;
}
img{
	width: 100%;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {/* WebKit browsers */
    color: #C8C8C8;
}
input:-moz-placeholder, textarea:-moz-placeholder {/* Mozilla Firefox 4 to 18 */
    color: #C8C8C8;
}
input::-moz-placeholder, textarea::-moz-placeholder {/* Mozilla Firefox 19+ */
    color: #C8C8C8;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {/* Internet Explorer 10+ */
    color: #C8C8C8;
}

/*去除苹果默认样式*/
input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}
textarea {  -webkit-appearance: none;}

/*修改input单选样式*/
.sex .male,
.sex .female {
    position: relative;
    width: 177px;
    height: 32px;
    z-index: 1;
    line-height: 32px;
    text-align: center;
    float: left;
}
.sex .male label,
.sex .female label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 177px;
    height: 32px;
    z-index: 3;
    opacity: 0;
    margin: auto;
    display: inline-block;
    line-height: 32px;
    cursor: pointer;
}
.sex input {
    display: inline-block;
    vertical-align: middle;/*让默认的单选样式的圆圈和“男”“女”的文本没有高差，看起来在同一水平线*/
    height: 32px;
    line-height: 32px;
    margin: 0; /*清除浏览器默认的外边距*/
}
.sex .male span.button,
.sex .female span.button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 177px;
    height: 32px;
    z-index: 2;
    background-color: #ededed;
    margin: auto;
    display: inline-block;
    line-height: 32px;
    text-align: center;
    color: #202020;
    font-size: 18px;
    margin-top: 4px;
}
.sex .male span {
    border-radius: 6px 0 0 6px;
}
.sex .female span {
    border-radius: 0 6px 6px 0;
}
.sex .male span.active,
.sex .female span.active {
    background-color: #1AA3F7;
    color: #fff;
} 


/*all*/
#display_n{
	display: none;
    -webkit-transform: translateY(100px);	
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;

}
#display_b{
	display: block;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

/*login*/
header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 84px;
	background: linear-gradient(to left,#2BF4E7,#1AA3F7);
	padding: 10px;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);
}
header a{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 20px;
	margin: auto;
	width: 24px;
	height: 24px;
}
.login_crad{
	width: 100%;
	height: 70px;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 1px;
}
.login_crad input{
	/*background-color: #a9a9a9;*/
	font-size: 18px;
	font-weight: bold;
	border: 0;
	margin-top: 8px;
}
.login_input .btn{
	width: 90%;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
	height: 44px;
	background-color: #1AA3F7;
	border: 0;
	border-radius: 0;
	color: #fff;
	font-size: 16px;
	-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.list_card{
	width: 100%;
	height: 50px;
	background-color: #fff;
	margin-bottom: 1px;
	padding: 0 10px;
}
.list_card h2{
	line-height: 50px;
	float: left;
}
.list_card p{
	float: left;
	margin: 18px 0 0 10px;
}
.add_user{
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	background-color: #fff;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);
}
.add_user div{
	width: 24px;
	height: 3px;
	background-color: #202020;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.add_user div:first-child{
	width: 3px;
	height: 24px;
}

/*info*/
.info_crad{
	width: 100%;
	height: 70px;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 1px;
	position: relative;
}
.info_crad h2{
	margin-top: 4px;
}
.info_crad a{
	font-size: 14px;
	font-weight: bold;
	color: #202020;
	position: absolute;
	width: 70px;
	height: 40px;
	background-color: #f0f0f0;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
	line-height: 40px;
	text-align: center;
	border-radius: 20px;
}
.info_close{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 49px;
	background-color: #1AA3F7;
}
.info_close div{
	width: 24px;
	height: 3px;
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg);
}
.info_close div:first-child{
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg);
}

/*find*/
.find_head{
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #fff;
	margin-top: -51px;
}
.find_head i{
	position: absolute;
	width: 24px;
	height: 24px;
	top: 0;
	bottom: 0;
	left: 10px;
	margin: auto;
}
.find_head input{
	background-color: #EDEDED;
	height: 36px;
	width: 74%;
	margin-top: 7px;
	margin-left: 44px;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	padding: 0 10px;
}
.find_head a{
	float: right;
	margin-right: 10px;
	line-height: 50px;
	font-size: 14px;
}

/*add*/
.add_btn{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 49px;
	background-color: #1AA3F7;
	font-size: 16px;
	color: #fff;
	border-radius: 0;
	border: 0;
}
.add_return{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 49px;
	background-color: #fff;
	font-size: 16px;
	color: #202020;
	line-height: 49px;
	text-align: center;
}


/*home*/
.home_login{
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	border: 0;
}







